<%= form_with(model: issue_type, local: true) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :issue_type_name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <div id="issue_type_color_labels" class="issue-type-color-options">
      <% roller_type_color_options.each do |title, name| %>
        <% id = "issue_type_color_#{name.parameterize}" %>

        <%= form.label :color, for: id, class: "issue-type-color-#{name}" do %>
          <%= form.radio_button :color, name, id: id %>
          <%= title %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <div id="issue_type_icon_labels" class="issue-type-icon-options">
      <% roller_type_icon_options.each do |title, name| %>
        <% id = "issue_type_icon_#{name.parameterize}" %>

        <%= form.label :icon, for: id do %>
          <%= form.radio_button :icon, name, id: id %>
          <%= icon(name) %>
          <%= title %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
