<%= enable_page_title "Issue Type: #{@issue_type.name}" %>

<%= content_for :header do %>
  <h1>Edit Issue Type</h1>
  <%= root_nav %>
<% end %>

<%= render 'form', issue_type: @issue_type %>

<p><%= link_to 'Back', :back %></p>
