<%= help_header 'Issue & Task Types' %>

<div class="columns">
  <div class="column">
    <p>
      Issues and Tasks are grouped by <strong>types</strong> (eg. Bug, Feature
      Request, Question).
      <%= link_to 'Admins', user_types_help_path(anchor: 'admins') %> have
      several color and icon options available in order to customize them:
    </p>

    <h3>Color Options</h3>
    <% issue_type_color_options.each do |title, name| %>
      <% klass = "issue-type-tag roller-type-color-#{name}" %>
      <%= content_tag :span, class: klass do %>
        <%= content_tag(:span, title) %>
      <% end %>
    <% end %>

    <h3>Icon Options</h3>
    <% issue_type_icon_options.each do |title, name| %>
      <% klass = "issue-type-tag roller-type-color-default" %>
      <%= content_tag :span, class: klass do %>
        <%= content_tag :i, '', class: "icon-#{name}" %>
        <%= title %>
      <% end %>
    <% end %>
  </div>
</div>
