<%= task_header @task %>

<h2>New Task Assignment</h2>

<%= form_with model: @task_assignee, url: task_assignments_path(@task),
              local: true,
              html: { id: 'task_assignment_form',
                      name: 'task_assignment_form' } do |form| %>
  <%= form_errors(form.object) %>

  <div class="actions">
    <%= form.submit 'Self Assign' %>
  </div>
<% end %>

<%= link_to 'Back to task', @task %>
