<%= user_inner_header @user, 'Advanced Settings' %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>
    <p>
      Currently waiting confirmation for your email:
      <%= content_tag :strong, resource.unconfirmed_email %>
    </p>

    <%= content_tag :p, link_to("Didn't receive confirmation instructions?",
                                new_confirmation_path(resource_name)) %>
  </div>
<% else %>
  <div class="columns">
    <div class="column">
      <h2>Change My Password</h2>

      <%= render 'form',
                 minimum_password_length: @minimum_password_length %>

      <%= render 'cancel_account', user: @user %>
    </div>

    <div class="column nav-column">
      <h5>Navigation</h5>
      <%= user_side_nav(@user) %>
    </div>
  </div>
<% end %>
