<%= user_header(@user) %>

<h2>Advanced Settings</h2>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>
    <p>
      Currently waiting confirmation for your email:
      <%= content_tag :strong, resource.unconfirmed_email %>
    </p>

    <%= content_tag :p, link_to("Didn't receive confirmation instructions?",
                                new_confirmation_path(resource_name)) %>
  </div>
<% else %>
  <h3>Change My Password</h3>

  <%= render 'form',
             minimum_password_length: @minimum_password_length %>

  <%= render 'cancel_account', user: @user %>

  <%= content_tag :p, link_to('Back', :back) %>
<% end %>
