<%= content_for :header do %>
  <h1>Sign Up</h1>
<% end %>

<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html: { name: 'user_form',
                               class: 'user-registration-form',
                               novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= hidden_required_field_label form, :name %>
    <%= form.text_field :name, id: :user_name,
                               autofocus: true, placeholder: 'Your Name' %>
  </div>

  <div class="field">
    <%= hidden_required_field_label form, :email %>
    <%= form.email_field :email, autocomplete: 'email',
                                 placeholder: 'your@email.com' %>
  </div>

  <div class="field">
    <div class="field-label-and-message">
      <%= form.label :password %>
      <%= content_tag :span, "#{@minimum_password_length} characters minimum",
                      class: 'field-message' %>
    </div>
    <%= form.password_field :password,
                            autocomplete: 'new-password' %>
  </div>

  <div class="field">
    <%= hidden_required_field_label form, :password_confirmation %>
    <%= form.password_field :password_confirmation,
                            autocomplete: 'new-password' %>
  </div>

  <div class="actions">
    <p><em>All fields required</em></p>
    <%= form.submit "Sign up" %>
  </div>
<% end %>

<%= content_for :sidebar, render('devise/shared/links') %>
