<% return if user_signed_in? %>

<div class="devise-links">
  <h2>Helpful Links</h2>

  <%- if controller_name != 'sessions' %>
    <%= content_tag :p, link_to("Log in",
                                new_session_path(resource_name)) %>
  <% end %>

  <%- if devise_mapping.registerable? &&
         controller_name != 'registrations' &&
         can?(:create, new_reporter) %>
    <%= content_tag :p, link_to("Sign up",
                                new_registration_path(resource_name)) %>
  <% end %>

  <%- if devise_mapping.recoverable? &&
         controller_name != 'passwords' &&
         controller_name != 'registrations' %>
    <%= content_tag :p, link_to("Forgot your password?",
                                new_password_path(resource_name)) %>
  <% end %>

  <%- if devise_mapping.confirmable? &&
         controller_name != 'confirmations' %>
    <%= content_tag :p, link_to("Didn't receive confirmation instructions?",
                                new_confirmation_path(resource_name)) %>
  <% end %>

  <%- if devise_mapping.lockable? &&
         resource_class.unlock_strategy_enabled?(:email) &&
         controller_name != 'unlocks' %>
    <%= content_tag :p, link_to("Didn't receive unlock instructions?",
                                new_unlock_path(resource_name)) %>
  <% end %>

  <%- if can?(:create, new_reporter) &&
         devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= content_tag :p, link_to("Sign in with #{OmniAuth::Utils.camelize(provider)}",
                          omniauth_authorize_path(resource_name, provider)) %>
    <% end %>
  <% end %>
</div>
