<%
return unless category

index_path =
  if category && project
    category_project_issues_path(category, project)
  else
    category_issues_path(category, project)
  end

reporter_options =
  options_from_collection_for_select(User.all, :id, :name_or_email, params[:reporter])
%>

<div class="issue">
  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <div class="field">
      <%= label_tag :status_all, 'All' %>
      <%= radio_button_tag :status, :all, (params[:status].blank? || params[:status] == 'all') %>

      <%= label_tag :status_open, 'Open' %>
      <%= radio_button_tag :status, :open, params[:status] == 'open' %>

      <%= label_tag :status_closed, 'Closed' %>
      <%= radio_button_tag :status, :closed, params[:status] == 'closed' %>
    </div>

    <div class="field">
      <%= label_tag :open_tasks_all, 'All' %>
      <%= radio_button_tag :open_tasks, :all, (params[:open_tasks].blank? || params[:open_tasks] == 'all') %>

      <%= label_tag :open_tasks_1, 'With open tasks' %>
      <%= radio_button_tag :open_tasks, '1', params[:open_tasks] == '1' %>

      <%= label_tag :open_tasks_0, 'Without any open tasks' %>
      <%= radio_button_tag :open_tasks, '0', params[:open_tasks] == '0' %>
    </div>

    <div class="field">
      <%= label_tag :reporter, 'Reporter' %>
      <%= select_tag :reporter, reporter_options, include_blank: '- Any -' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>

  <p>
    <%= link_to 'Clear filters', index_path %>
  </p>
</div>
