<%
return unless category

index_path =
  if category && project
    category_project_issues_path(category, project)
  else
    category_issues_path(category, project)
  end

reporter_options =
  options_from_collection_for_select(User.all, :id, :name_and_email,
                                     params[:reporter])
%>

<div class="issue">
  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'status_filter_field' %>

    <div class="field">
      <%= label_tag :reporter, 'Reporter' %>
      <%= select_tag :reporter, reporter_options, include_blank: '- Any -' %>
    </div >

    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
