<%
return unless category

index_path =
  if category && project
    category_project_issues_path(category, project)
  else
    category_issues_path(category, project)
  end

reporter_options =
  options_from_collection_for_select(User.all, :id, :name_or_email,
                                     params[:reporter])
%>

<div class="issue">
  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'shared/status_filter_field' %>

    <div class="field">
      <%= label_tag :open_tasks %>

      <div id="issue_open_tasks_labels" class="issue-filter-options">
        <%= label_tag :open_tasks_all,
                      class: roller_radio_button_label_class('blue') do %>
          <%= radio_button_tag :open_tasks, :all,
                               (params[:open_tasks].blank? ||
                                 params[:open_tasks] == 'all') %>
          All
        <% end %>

        <%= label_tag :open_tasks_1,
                      class: roller_radio_button_label_class('green') do %>
          <%= radio_button_tag :open_tasks, '1', params[:open_tasks] == '1' %>
          With open tasks
        <% end %>

        <%= label_tag :open_tasks_0,
                      class: roller_radio_button_label_class('yellow') do %>
          <%= radio_button_tag :open_tasks, '0', params[:open_tasks] == '0' %>
          Without any open tasks
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= label_tag :reporter, 'Reporter' %>
      <%= select_tag :reporter, reporter_options, include_blank: '- Any -' %>
    </div >

    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
