<%
  index_path ||= request.path
  return unless index_path
%>

<div class="filters-wrapper">
  <div class="heading-and-link">
    <h3>Filters</h3>

    <% if searching? %>
      <%= link_to 'reset', index_path %>
    <% end %>
  </div>

  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'shared/string_filter_field' %>
    <%= render 'issues/status_filter_field' %>
    <%= render 'issues/issue_type_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
