<%
  index_path ||= request.path
  return unless index_path
%>

<div class="filters-wrapper">
  <h3>Filters</h3>

  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'shared/string_filter_field' %>
    <%= render 'issues/status_filter_field' %>
    <%= render 'issues/type_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
