<%
category ||= nil
user ||= nil
return unless category || user

index_path =
  if user
    user_path(user)
  elsif project
    project_issues_path(project)
  else
    category_issues_path(category)
  end
%>

<div class="issue">
  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'issues/status_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>

  <%= render 'shared/page_links', collection: issues %>
</div>
