<%
index_path ||= nil
return unless index_path
%>

<div class="issue">
  <%= form_tag index_path, method: :get, class: "issue-filter-form" do %>
    <%= render 'issues/status_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>

  <%= render 'shared/page_links', collection: issues %>
</div>
