<%= form_with(model: issue, url: url, local: true,
              html: { name: 'issue_form' }) do |form| %>
  <%= form_errors(form.object) %>

  <%# TODO: add choices, not a choce, bub %>
  <% if user_options&.any? %>
    <div class="field">
      <%= form.label :user_id, 'Reporter' %>
      <%= form.select :user_id,
                      grouped_options_for_select(user_options, issue.user_id),
                      {}, id: :issue_user_id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :issue_type_id, 'Type' %>
    <div id="issue_issue_type_labels" class="issue-issue-type-options">
      <% issue_types.each do |issue_type| %>
        <% id = "issue_issue_type_id_#{issue_type.id}" %>

        <%= form.label :issue_type_id, for: id,
                       class: "roller-type-color-#{issue_type.color}" do %>
          <%= form.radio_button :issue_type_id, issue_type.id, id: id %>
          <%= roller_type_icon(issue_type) %>
          <%= issue_type.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= required_field_label form, :summary %>
    <%= form.text_field :summary, id: :issue_summary,
                        autofocus: true %>
  </div>

  <div class="field">
    <%= required_field_label form, :description %>
    <%= form.text_area :description, id: :issue_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
