<div id="issue-<%= issue.id %>" class="issue">
  <header class="issue-header">
    <h3 class="issue-summary">
      <%= issue_type_icon_tag(issue.issue_type) %>
      <%= link_to issue.id_and_summary, issue_path(issue) %>
    </h3>
  </header>

  <main class="issue-main">
    <%= content_tag :p, (issue.user ? issue.user.name : User.destroyed_name),
                        class: 'issue-user' %>
    <%= issue_status_tags(issue) %>

    <p>
      <%= content_tag :span, formatted_dates(issue), class: 'issue-dates' %>

      <% if can?(:update, issue) %>
        <%= divider %>
        <%= link_to 'Edit', edit_issue_path(issue) %>
      <% end %>
    </p>
  </main>
</div>
