<%
  user = issue.user
  project = issue.project
  category = issue.category
%>

<div id="issue-<%= issue.id %>" class="issue">
  <header class="issue-header">
    <% unless project_page?(project) %>
      <%
        breadcrumb_pages =
          if category_page?(category)
            [[project.name, project]]
          else
            [[category.name, category_projects_path(category)],
             [project.name, project]]
          end
      %>
      <%= breadcrumbs breadcrumb_pages %>
    <% end %>

    <h3 class="issue-summary">
      <%= link_to issue.id_and_summary, issue_path(issue) %>
    </h3>
  </header>

  <main class="issue-main">
    <%= issue_tags(issue) %>

    <p>
      Opened
      <%= content_tag :strong, format_date(issue.created_at),
                      class: 'issue-dates' %>
      by
      <% if user %>
        <%= link_to_unless_current user.name_or_email,
                                   user_issues_path(user),
                                   class: 'issue-user' %>
      <% end %>
      <% if issue.created_at != issue.updated_at %>
        <%= content_tag :span,
                        " (ed. #{format_date(issue.updated_at)})" %>
      <% end %>

      <% if can?(:update, issue) %>
        <%= divider %>
        <%= link_to 'Edit', edit_issue_path(issue),
                    class: 'secondary-link' %>
      <% end %>
    </p>
  </main>
</div>
