<%# TODO: add status %>
<div id="issue-<%= issue.id %>" class="issue">
  <header class="issue-header">
    <h3 class="issue-summary">
      <%= issue_type_icon_tag(issue.issue_type) %>
      <%= link_to issue.summary,
                  category_project_issue_path(issue.category, issue.project, issue) %>
    </h3>
  </header>

  <main class="issue-main">
    <%= content_tag :p, (issue.user ? issue.user.name : User.destroyed_name),
                        class: 'issue-user' %>
    <%= content_tag :p, "Status: #{issue.status}",
                        class: 'issue-status' %>

    <%= content_tag :p, "Created: #{format_date(issue.created_at)}",
                    class: 'issue-created-at' %>

    <% if issue.updated_at != issue.created_at %>
      <%= content_tag :p,
                      "Updated: #{format_date(issue.updated_at)}",
                      class: 'issue-updated-at' %>
    <% end %>

    <%= content_tag :p, "Open Tasks: #{issue.open_tasks.count}",
                    class: 'issue-open-tasks' %>

    <%= content_tag :p, "Closed Tasks: #{issue.closed_tasks.count}",
                    class: 'issue-closed-tasks' %>

  </main>

  <footer class="issue-footer">
    <%= link_to 'Edit',
                edit_category_project_issue_path(issue.category, issue.project, issue) %>
  </footer>
</div>
