<%
  user = issue.user
  project = issue.project
  category = issue.category
  tasks = issue.tasks
%>

<div id="issue-<%= issue.id %>" class="issue">
  <header class="issue-header">
    <div class="header-box">
      <%= content_tag(:p, "Issue ##{issue.id}", class: 'issue-id') %>

      <%= content_tag :p, class: 'issue-dates' do %>
        <%= format_date(issue.created_at) %>

        <% if issue.created_at != issue.updated_at %>
          (ed. <%= format_date(issue.updated_at) %>)
        <% end %>
      <% end %>
    </div>

    <h3 class="issue-summary">
      <%= link_to_if(can?(:read, issue), issue.summary, issue_path(issue)) %>
    </h3>
  </header>


  <main class="issue-container">
    <div class="issue-tags-wrapper">
      <%# TODO: merge with edit %>
      <%= issue_tags(issue) %>

      <% if can?(:update, issue) %>
        <p>
          <%= link_to 'Edit', edit_issue_path(issue) %>
        </p>
      <% end %>

      <% if tasks.any? %>
        <p>
          <%= link_to issue_tasks_path(issue),
                      remote: true, class: 'toggle-link' do %>
            Preview <%= content_tag :span, pluralize(tasks.count, "Task"), class: 'tasks-count' %>
          <% end %>
        </p>
      <% end %>
    </div>

    <dl class="issue-data">
      <% if category && project %>
        <% unless project_page?(project) %>
          <% unless category_page?(category) %>
            <dt>Category</dt>
            <dd>
              <%= link_to_if(can?(:read, category), category.name, category) %>
            </dd>
          <% end %>

          <dt>Project</dt>
          <dd>
            <%= link_to_if(can?(:read, project), project.name, project) %>
          </dd>
        <% end %>
      <% end %>

      <dt>User</dt>
      <dd>
        <% if user && can?(:read, user) %>
          <%= link_to_unless_current user.name_or_email,
                                     user_issues_path(user),
                                     class: 'issue-user' %>
        <% else %>
          <%= content_tag :span,
                          (user&.name_or_email || User.destroyed_name),
                          class: 'issue-user' %>
        <% end %>
      </dd>
    </dl>
  </main>

  <% if tasks.any? %>
    <div id="issue_<%= issue.id %>_tasks_wrapper" class="issue-tasks-wrapper"></div>
  <% end %>
</div>
