<div class="field">
  <%= label_tag :status %>

  <div id="task_status_labels" class="task-filter-options">
    <%= label_tag :status_all,
                  class: roller_radio_button_label_class('brown') do %>
      <%= radio_button_tag :status, :all,
                           (params[:status].blank? ||
                             params[:status] == 'all') %>
      All
    <% end %>

    <% %i[open being_worked_on addressed resolved closed].each do |status| %>
      <%
        color = Issue::STATUS_OPTIONS[status][:color]
        klass = roller_radio_button_label_class(color)
      %>

      <%= label_tag "status_#{status}", class: klass do %>
        <%= radio_button_tag :status, status,
                             params[:status] == status.to_s %>
        <%= status.to_s.titleize %>
      <% end %>
    <% end %>
  </div>
</div>
