<div class="field">
  <%= label_tag :issue_status %>

  <div id="issue_status_labels" class="issue-filter-options">
    <%= label_tag :issue_status_all,
                  class: roller_radio_button_label_class('brown') do %>
      <%= radio_button_tag :issue_status, :all,
                           (params[:issue_status].blank? ||
                            params[:issue_status] == 'all') %>
      <%= icon "buffer" %>
      All
    <% end %>

    <% %i[open being_worked_on addressed resolved
          closed].each do |status| %>
      <%
        color = Issue::STATUS_OPTIONS[status][:color]
        klass = roller_radio_button_label_class(color)
      %>

      <%= label_tag "issue_status_#{status}", class: klass do %>
        <%= radio_button_tag :issue_status, status,
                             params[:issue_status] == status.to_s %>
        <%= status.to_s.titleize %>
      <% end %>
    <% end %>
  </div>
</div>
