<% if @project %>
  <%= project_header @project %>
  <header class="issues-header">
    <h2>Project Issues</h2>
    <p><%= render @subscription %></p>
  </header>
<% elsif @category %>
  <%= category_header @category %>
  <header class="issues-header">
    <h2>Category Issues</h2>
    <p><%= render @subscription %></p>
  </header>
<% elsif @user %>
  <%= user_header @user %>
  <header class="issues-header">
    <h2>Reported Issues</h2>
  </header>
<% end %>

<%= render 'issues/issues', issues: @issues %>
