<%
  create_path =
    new_category_project_issue_task_path(@category, @issue.project, @issue)
%>

<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <section class="issue-status">
        <h4 class="issue-column-title">Status</h4>

        <p>
          <%= content_tag :strong, @issue.status, class: 'issue-status' %>

          <% if @issue.current_resolution %>
            <%= render 'shared/resolution',
                       resolution: @issue.current_resolution,
                       issue: @issue %>
          <% end %>
        </p>

        <%# TODO: issue user only %>
        <% if @issue.addressed? %>
          <p>
            <%= link_to 'report issue was not fixed',
                        disapprove_issue_resolutions_path(@issue, resolution: { user_id: @issue.user_id }),
                        method: :post, class: 'destroy-link' %>
          </p>
        <% end %>

        <%# TODO: issue user only %>
        <% if @issue.open? && (@issue.unresolved? || @issue.duplicatee.blank?) %>
          <p>
            close issue:
            <br>
            <% if @issue.unresolved? %>
              <%= link_to 'mark resolved',
                          approve_issue_resolutions_path(@issue, resolution: { user_id: @issue.user_id }),
                          method: :post, class: 'create-link' %>
            <% end %>

            <%# TODO: reviewers+ only %>
            <% if @issue.duplicatee.blank? %>
              |
              <%= link_to 'mark duplicate',
                          new_issue_connection_path(@issue),
                          class: 'normal-link' %>
            <% end %>
          </p>
        <% end %>

        <% if @issue.duplicatee.present? %>
          <%
            confirm = "Are you sure you want to remove the connection to " \
                      "\"#{@issue.duplicatee.short_summary}\" and reopen " \
                      "this issue?"
          %>
          <p>
            <% duplicatee = @issue.duplicatee %>
            Duplicate of:
            <%= link_to duplicatee.short_summary,
                        category_project_issue_path(duplicatee.category,
                                                    duplicatee.project,
                                                    duplicatee) %>
          </p>
          <%# TODO: reviewers+ only %>
          <p>
            <%= link_to 'Mark not a duplicate and reopen',
                         @issue.source_issue_connection,
                         method: :delete, class: 'destroy-link',
                         data: { confirm: confirm } %>
          </p>
        <% end %>

        <p>
          <% if @issue.open? %>
            <%# TODO: admin only %>
            <%= link_to 'force close',
                        close_issue_path(@issue),
                        method: :patch, class: 'secondary-link' %>
          <% else %>
            <%# TODO: reviewer+ only %>
            <%= link_to 'reopen',
                        open_issue_path(@issue),
                        method: :patch, class: 'secondary-link' %>
          <% end %>
        </p>
      </section>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Tasks</h4>
        <dl class="issue-tasks">
          <%= render partial: 'shared/task', collection: @issue.tasks,
                     locals: { category: @category, project: @project } %>

          <%# TODO: reviewer+ %>
          <dt class="new-issue-task">
            <%= icon('plus') %>
            <%= link_to 'Add Task', create_path, class: 'create-link' %>
          </dt>
        </dl>
      </section>

      <% if @issue.duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <% @issue.duplicates.each do |duplicate| %>
            <p>
              <%= link_to duplicate.id_and_summary,
                          category_project_issue_path(duplicate.category,
                                                      duplicate.project,
                                                      duplicate) %>
            </p>
          <% end %>
        </section>
      <% end %>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <div class="comment issue-description">
          <header class="issue-user-date">
            <p><span class="issue-user"><%= @issue.user ? @issue.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="issue-dates"><%= format_date @issue.created_at %></p>
          </header>

          <%= content_tag :main, @issue.description_html.html_safe %>

          <footer>
            <%= link_to 'edit',
                        edit_category_project_issue_path(@category, @issue.project, @issue) %>
          </footer>
        </div>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project,
                             object: @issue } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @issue.project, object: @issue,
                   comment: @comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
