<%
  user = @issue.user
  duplicatee = @issue.duplicatee
%>

<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <section class="issue-subscription-wrapper">
        <%= render @issue_subscription, issue: @issue %>
      </section>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Tasks</h4>
        <%= render partial: 'shared/task', collection: @issue.tasks %>

        <% if @issue.open? && can?(:create, Task) %>
          <p class="new-issue-task">
            <%= icon('plus') %>
            <%= link_to 'Add Task',
                        new_project_task_path(@project, task: { issue_id: @issue.id }),
                        class: 'create-link' %>
          </p>
        <% elsif @issue.tasks.none? %>
          <p>None assigned</p>
        <% end %>
      </section>

      <section class="issue-history">
        <h4 class="issue-column-title">History</h4>

        <dl class="issue-history">
          <% if user %>
            <%= content_tag :dt, link_to(user.name_or_email,
                                         user_issues_path(user)) %>
          <% end %>
          <%= content_tag :dd, "opened: #{format_date @issue.created_at}",
                          class: 'issue-created-at' %>
          <% if @issue.created_at != @issue.updated_at %>
            <%= content_tag :dd, "updated: #{format_date @issue.updated_at}",
                            class: 'issue-updated-at' %>
          <% end %>

          <% if @issue.current_resolution %>
            <%= render 'shared/resolution',
                       resolution: @issue.current_resolution,
                       issue: @issue %>
          <% elsif @issue.unresolved? &&
                can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
            <dd>
              <%= link_to 'mark resolved and close',
                          approve_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </dd>
          <% end %>

          <% @issue.tasks.each do |task| %>
            <% next unless task.user %>

            <% if task.current_review %>
              <% review = task.current_review  %>
              <% next unless review.user %>

              <% if review.pending? %>
                <%= content_tag :dt, review.user.name_or_email %>
                <%= content_tag :dd, "submitted for review task (##{task.id}): #{format_date review.created_at}" %>
              <% else %>
                <%= content_tag :dt, review.user.name_or_email %>
                <%= content_tag :dd, "#{review.status} task (##{task.id}): #{format_date review.updated_at}" %>
              <% end %>
            <% end %>
          <% end %>

          <% if @issue.addressed? &&
                can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
            <dd>
              <%= link_to 'report issue was not fixed and reopen',
                          disapprove_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </dd>
          <% end %>
        </dl>
      </section>

      <% if duplicatee.present? %>
        <section class="issue-duplicatee">
          <h4 class="issue-column-title">Duplicate Of</h4>
          <%= render 'shared/issue', issue: duplicatee %>

          <%= render @issue.source_connection %>

        </section>
      <% elsif @issue.open? && can?(:create, IssueConnection) %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Connections</h4>

          <p>
            <%= link_to 'mark duplicate and close',
                        new_issue_connection_path(@issue),
                        class: 'destroy-link' %>
          </p>
        </section>
      <% end %>

      <% if @issue.duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <%= render partial: 'shared/issue',
                     collection: @issue.duplicates %>
        </section>
      <% end %>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <div class="comment issue-description">
          <header class="issue-user-date">
            <p><span class="issue-user"><%= @issue.user ? @issue.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="issue-dates"><%= formatted_dates @issue %></p>
          </header>

          <%= content_tag :main, @issue.description_html.html_safe %>

          <% if can?(:update, @issue) %>
            <footer>
              <p><%= link_to 'edit', edit_issue_path(@issue) %></p>
            </footer>
          <% end %>
        </div>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'shared/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project,
                             object: @issue } %>

        <%= render 'shared/new_comment',
                   category: @category, project: @issue.project, object: @issue,
                   comment: @comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
