<div class="issue-show-page">
  <%= issue_header(@issue, @project, @category) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <h4 class="issue-column-title">Created</h4>
      <p class="issue-user-date">
        <span class="issue-dates"><%= format_date @issue.created_at %></span>
        <span class="issue-user">(<%= @issue.user.name_or_email %>)</span>
      </p>

      <% if @issue.tasks.any? %>
        <h4 class="issue-column-title">Fixes</h4>
        <ul class="issue-tasks">
          <% @issue.tasks.each do |task| %>
            <li class="issue-task" id="issue-task-<%= task.id %>">
              <%= task_type_icon_tag(task.task_type) %>
              <%= link_to task.summary,
                          category_project_task_path(@category, @issue.project, task) %>
            </li>
          <% end %>
        </ul>

      <% end %>

      <p>
        <%= link_to 'Edit Issue',
                    edit_category_project_issue_path(@category, @issue.project, @issue) %>
      </p>
    </div>

    <div class="issue-column second-column">
      <%= content_tag :p, @issue.description, class: 'issue-description' %>

      <div class="issue-comments comments">
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project, object: @issue } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @issue.project, object: @issue,
                   issue_comment: @issue_comment, user_options: @user_options %>
      </div>
    </div>
  </div>
</div>
