<%
  user = @issue.user
  duplicatee = @issue.duplicatee
%>

<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <section class="issue-subscription-wrapper">
        <%= render @issue_subscription, issue: @issue %>
      </section>


      <% if @issue.addressed? %>
        <% if can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
          <section class="issue-resolution">
            <h4 class="issue-column-title">Resolution</h4>

            <p>
              <%= link_to 'report issue was not fixed and reopen',
                          disapprove_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </p>
          </section>
        <% end %>
      <% elsif @issue.current_resolution %>
        <% if can?(:destroy, @issue.current_resolution) %>
          <section class="issue-resolution">
            <h4 class="issue-column-title">Resolution</h4>
            <%= render 'shared/resolution',
                       resolution: @issue.current_resolution,
                       issue: @issue %>
          </section>
        <% end %>
      <% elsif @issue.unresolved? %>
        <% if can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
          <section class="issue-resolution">
            <h4 class="issue-column-title">Resolution</h4>
            <p>
              <%= link_to 'mark resolved and close',
                          approve_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </p>
          </section>
        <% end %>
      <% end %>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Tasks</h4>
        <%= render partial: 'shared/task',
                   collection: @issue.tasks %>

        <% if @issue.open? && can?(:create, Task) %>
          <p class="new-issue-task">
            <%= icon('plus') %>
            <%= link_to 'Add Task',
                        new_project_task_path(@project,
                                              task: { issue_id: @issue.id }),
                        class: 'create-link' %>
          </p>
        <% elsif @issue.tasks.none? %>
          <p>None assigned</p>
        <% end %>
      </section>

      <% if duplicatee.present? %>
        <section class="issue-duplicatee">
          <h4 class="issue-column-title">Duplicate Of</h4>
          <%= render @issue.source_connection %>
        </section>
      <% elsif @issue.open? && can?(:create, IssueConnection) %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Connections</h4>

          <p>
            <%= link_to 'mark as duplicate and close',
                        new_issue_connection_path(@issue),
                        class: 'destroy-link' %>
          </p>
        </section>
      <% end %>

      <% if @issue.duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <%= render partial: 'shared/issue',
                     collection: @issue.duplicates %>
        </section>
      <% end %>

      <section class="issue-history">
        <h4 class="issue-column-title">History</h4>

        <dl class="issue-history">
          <% if user %>
            <%= content_tag :dt, link_to(user.name_or_email,
                                         user_issues_path(user)) %>
          <% end %>
          <%= content_tag :dd, "opened issue: #{format_date @issue.created_at}",
                          class: 'issue-created-at' %>
          <% if @issue.updated_at != @issue.created_at %>
            <%= content_tag :dd, "updated issue: #{format_date @issue.updated_at}",
                            class: 'issue-updated-at' %>
          <% end %>
          <% if @issue.opened_at != @issue.created_at %>
            <%= content_tag :dd, "reopened issue: #{format_date @issue.opened_at}",
                            class: 'issue-opened-at' %>
          <% end %>

          <%= render partial: 'tasks/history', collection: @issue.tasks %>

          <%= render 'issues/closed_history', issue: @issue %>
        </dl>
      </section>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <%= render 'issues/description', issue: @issue %>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'shared/comment', collection: @comments,
                   locals: { object: @issue } %>

        <%= render 'shared/new_comment',
                   object: @issue, comment: @comment,
                   user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
