<div class="issue-show-page">
  <%= issue_header(@issue, @project, @category) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <h4 class="issue-column-title">Tasks</h4>
      <% if @issue.tasks.any? %>
        <ul class="issue-tasks">
          <% @issue.tasks.each do |task| %>
            <li class="issue-task" id="issue-task-<%= task.id %>">
              <%= task_type_icon_tag(task.task_type) %>
              <%= link_to task.summary,
                          category_project_task_path(@category, @issue.project, task) %>
            </li>
          <% end %>
          <li class="new-issue-task">
            <%= icon('plus') %>
            <%= link_to 'Add Task',
                        new_category_project_issue_task_path(@category, @issue.project,
                                                             @issue) %>
          </li>
        </ul>
      <% else %>
        <p>unassigned</p>
      <% end %>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <div class="comment issue-description">
          <header class="issue-user-date">
            <p class="issue-user"><%= @issue.user.name_or_email %>:</p>
            <p class="issue-dates"><%= format_date @issue.created_at %></p>
          </header>

          <%= content_tag :main, @issue.description_html.html_safe %>

          <footer>
            <%= link_to 'edit', edit_category_project_issue_path(@category, @issue.project,
                                                                 @issue) %>
          </footer>
        </div>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project,
                             object: @issue } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @issue.project, object: @issue,
                   comment: @comment, user_options: @user_options %>
      </div>
    </div>
  </div>
</div>
