<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <section class="issue-subscription-wrapper">
        <%= render @issue_subscription, issue: @issue %>
      </section>

      <section class="issue-status">
        <h4 class="issue-column-title">Status</h4>

        <p>
          <%= content_tag :strong, @issue.status,
                          class: 'issue-status' %>

          <% if @issue.current_resolution %>
            <%= render 'shared/resolution',
                       resolution: @issue.current_resolution,
                       issue: @issue %>
          <% end %>
        </p>

        <% if @issue.addressed? &&
              can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
          <p>
            <%= link_to 'report issue was not fixed and reopen',
                        disapprove_issue_resolutions_path(@issue),
                        method: :post, class: 'destroy-link' %>
          </p>
        <% end %>

        <% if @issue.open? %>
          <% if @issue.unresolved? &&
                can?(:create, @issue.resolutions.build(user_id: current_user.id)) %>
            <p>
              <%= link_to 'mark resolved and close',
                          approve_issue_resolutions_path(@issue),
                          method: :post, class: 'normal-link' %>
            </p>
          <% end %>

          <% if can?(:create, IssueConnection) && @issue.duplicatee.blank? %>
            <p>
              <%= link_to 'mark duplicate and close',
                          new_issue_connection_path(@issue),
                          class: 'normal-link' %>
            </p>
          <% end %>
        <% end %>

        <% duplicatee = @issue.duplicatee %>
        <% if duplicatee.present? %>
          <%
            confirm = "Are you sure you want to remove the connection to " \
                      "\"#{duplicatee.short_summary}\" and reopen " \
                      "this issue?"
          %>
          <p>
            Duplicate of:
            <%= link_to_if can?(:read, duplicatee),
                           duplicatee.short_summary, issue_path(duplicatee) %>
          </p>

          <% if can?(:destroy, @issue.source_connection) %>
            <p>
              <%= link_to 'Mark not a duplicate and reopen',
                           @issue.source_connection,
                           method: :delete, class: 'destroy-link',
                           data: { confirm: confirm } %>
            </p>
          <% end %>
        <% end %>
      </section>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Tasks</h4>
        <dl class="issue-tasks">
          <%= render partial: 'shared/task', collection: @issue.tasks,
                     locals: { category: @category, project: @project } %>

          <% if can?(:create, Task) %>
            <dt class="new-issue-task">
              <%= icon('plus') %>
              <%= link_to 'Add Task',
                          new_project_task_path(@project, task: { issue_id: @issue.id }),
                          class: 'create-link' %>
            </dt>
          <% elsif @issue.tasks.none? %>
            <dt>None assigned</dt>
          <% end %>
        </dl>
      </section>

      <% if @issue.duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <% @issue.duplicates.each do |duplicate| %>
            <p>
              <%= link_to_if can?(:read, duplicate),
                             duplicate.id_and_summary, issue_path(duplicate) %>
            </p>
          <% end %>
        </section>
      <% end %>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <div class="comment issue-description">
          <header class="issue-user-date">
            <p><span class="issue-user"><%= @issue.user ? @issue.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="issue-dates"><%= formatted_dates @issue %></p>
          </header>

          <%= content_tag :main, @issue.description_html.html_safe %>

          <% if can?(:update, @issue) %>
            <footer>
              <p><%= link_to 'edit', edit_issue_path(@issue) %></p>
            </footer>
          <% end %>
        </div>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'shared/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project,
                             object: @issue } %>

        <%= render 'shared/new_comment',
                   category: @category, project: @issue.project, object: @issue,
                   comment: @comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
