<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <section class="issue-subscription-wrapper">
        <%= render 'issue_subscriptions/button',
                   issue_subscription: @issue_subscription,
                   issue: @issue %>
      </section>

      <section class="issue-status">
        <h4 class="issue-column-title">Status</h4>

        <p>
          <%= content_tag :strong, @issue.status,
                          class: 'issue-status' %>

          <% if @issue.current_resolution %>
            <%= render 'shared/resolution',
                       resolution: @issue.current_resolution,
                       issue: @issue %>
          <% end %>
        </p>

        <% if @issue.addressed? &&
              policy(@issue.resolutions.build).disapprove? %>
          <p>
            <%= link_to 'report issue was not fixed',
                        disapprove_issue_resolutions_path(@issue),
                        method: :post, class: 'destroy-link' %>
          </p>
        <% end %>

        <% if @issue.open? %>
          <% if @issue.unresolved? &&
                policy(@issue.resolutions.build).approve? %>
            <p>
              <%= link_to 'mark resolved',
                          approve_issue_resolutions_path(@issue),
                          method: :post, class: 'create-link' %>
            </p>
          <% end %>

          <% if policy(IssueConnection).new? && @issue.duplicatee.blank? %>
            <p>
              <%= link_to 'mark duplicate',
                          new_issue_connection_path(@issue),
                          class: 'normal-link' %>
            </p>
          <% end %>
        <% end %>

        <% duplicatee = @issue.duplicatee %>
        <% if duplicatee.present? %>
          <%
            confirm = "Are you sure you want to remove the connection to " \
                      "\"#{duplicatee.short_summary}\" and reopen " \
                      "this issue?"
          %>
          <p>
            Duplicate of:
            <%= link_to_if policy(duplicatee).show?,
                           duplicatee.short_summary, issue_path(duplicatee) %>
          </p>

          <% if policy(@issue.source_issue_connection).destroy? %>
            <p>
              <%= link_to 'Mark not a duplicate and reopen',
                           @issue.source_issue_connection,
                           method: :delete, class: 'destroy-link',
                           data: { confirm: confirm } %>
            </p>
          <% end %>
        <% end %>
      </section>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Tasks</h4>
        <dl class="issue-tasks">
          <%= render partial: 'shared/task', collection: @issue.tasks,
                     locals: { category: @category, project: @project } %>

          <% if policy(Task).create? %>
            <dt class="new-issue-task">
              <%= icon('plus') %>
              <%= link_to 'Add Task', new_issue_task_path(@issue),
                          class: 'create-link' %>
            </dt>
          <% elsif @issue.tasks.none? %>
            <dt>None assigned</dt>
          <% end %>
        </dl>
      </section>

      <% if @issue.duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <% @issue.duplicates.each do |duplicate| %>
            <p>
              <%= link_to_if policy(duplicate).show?,
                             duplicate.id_and_summary, issue_path(duplicate) %>
            </p>
          <% end %>
        </section>
      <% end %>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <div class="comment issue-description">
          <header class="issue-user-date">
            <p><span class="issue-user"><%= @issue.user ? @issue.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="issue-dates"><%= format_date @issue.created_at %></p>
          </header>

          <%= content_tag :main, @issue.description_html.html_safe %>

          <% if policy(@issue).edit? %>
            <footer>
              <%= link_to 'edit', edit_issue_path(@issue) %>
            </footer>
          <% end %>
        </div>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @issue.project,
                             object: @issue } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @issue.project, object: @issue,
                   comment: @comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
