<div class="issue-show-page">
  <%= issue_header(@issue) %>

  <div class="issue-columns">
    <div class="issue-column first-column">
      <%= content_tag :section,
                      render(@subscription, issue: @issue),
                      class: "issue-subscription-wrapper" %>

      <% if @issue.addressed? %>
        <% if can?(:create, new_resolution(@issue)) %>
          <%= content_for :actions do %>
            <p>
              <%= link_to 'report issue was not fixed and reopen',
                          disapprove_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </p>
          <% end %>
        <% end %>
      <% elsif @issue.current_resolution %>
        <% if can?(:destroy, @issue.current_resolution) %>
          <section class="issue-resolution">
            <h4 class="issue-column-title">Resolution</h4>

            <%= render @issue.current_resolution, issue: @issue %>
          </section>
        <% end %>
      <% elsif @issue.unresolved? %>
        <% if can?(:create, new_resolution(@issue)) %>
          <%= content_for :actions do %>
            <p>
              <%= link_to 'mark resolved and close',
                          approve_issue_resolutions_path(@issue),
                          method: :post, class: 'destroy-link' %>
            </p>
          <% end %>
        <% end %>
      <% end %>

      <section class="issue-tasks">
        <h4 class="issue-column-title">Assigned Tasks</h4>
        <%= render partial: 'shared/task',
                   collection: @issue.tasks %>

        <% if @issue.open? && can?(:create, new_task(@project)) %>
          <p class="new-issue-task">
            <%= icon('plus') %>
            <%= link_to 'Add Task',
                        new_project_task_path(@project,
                                              task: { issue_id: @issue.id }),
                        class: 'create-link' %>
          </p>
        <% elsif @issue.tasks.none? %>
          <p>no tasks</p>
        <% end %>
      </section>

      <% if @issue.duplicate? %>
        <section class="issue-duplicatee">
          <h4 class="issue-column-title">Duplicate Of</h4>
          <%= render @source_connection %>
        </section>
      <% elsif @issue.open? %>
        <% if can?(:create, new_issue_connection(@issue)) %>
          <%= content_for :actions do %>
            <p>
              <%= link_to 'mark as duplicate and close',
                          new_issue_connection_path(@issue),
                          class: 'destroy-link' %>
            </p>
          <% end %>
        <% end %>

        <% if can?(:create, new_issue_closure(@issue)) %>
          <%= content_for :actions do %>
            <p>
              <%= link_to 'mark invalid and close',
                          issue_closures_path(@issue), method: :post,
                          class: 'destroy-link' %>
            </p>
          <% end %>
        <% end %>
      <% elsif can?(:create, new_issue_reopening(@issue)) %>
        <%= content_for :actions do %>
          <p>
            <%= link_to 'reopen issue',
                        issue_reopenings_path(@issue), method: :post,
                        class: 'destroy-link' %>
          </p>
        <% end %>
      <% end %>

      <% if @duplicates.any? %>
        <section class="issue-connections">
          <h4 class="issue-column-title">Duplicate Issues</h4>

          <%= render partial: 'shared/issue',
                     collection: @duplicates,
                     locals: { show_status: false } %>
        </section>
      <% end %>

      <% if can?(:move, @issue) %>
        <%= content_for :actions do %>
          <p>
            <%= link_to 'move to a different project',
                        new_issue_move_path(@issue),
                        class: 'secondary-link' %>
          </p>
        <% end %>
      <% end %>

      <%= render 'actions', issue: @issue %>

      <section class="issue-history">
        <h4 class="issue-column-title">History</h4>

        <dl class="issue-history">
          <% if @user %>
            <%= content_tag :dt, link_to_if(can?(:read, @user),
                                            @user.name_or_email,
                                            user_issues_path(@user)) %>
          <% end %>
          <%= content_tag :dd, "opened issue: #{format_date @issue.created_at}",
                          class: 'issue-created-at' %>
          <% if @issue.updated_at != @issue.created_at %>
            <%= content_tag :dd, "updated issue: #{format_date @issue.updated_at}",
                            class: 'issue-updated-at' %>
          <% end %>

          <%= render partial: 'issues/history',
                     collection: @issue.history_feed %>

          <% if @issue.addressed? %>
            <dt>Tasks</dt>
            <%= content_tag :dd,
                            "addressed issue: #{format_date @issue.addressed_at}",
                            class: 'issue-addressed-at' %>
          <% end %>
        </dl>
      </section>
    </div>

    <div class="issue-column second-column">
      <div class="issue-comments comments">
        <%= render 'issues/description', issue: @issue, user: @user %>

        <%# TODO: link to new task from comment, auto assign %>
        <%= render partial: 'shared/comment', collection: @comments,
                   locals: { object: @issue } %>

        <%= render 'shared/new_comment',
                   object: @issue, comment: new_issue_comment(@issue),
                   user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
