<%
return unless category

index_path =
  if category && project
    category_project_tasks_path(category, project)
  else
    category_tasks_path(category, project)
  end

reviewer_options =
  options_from_collection_for_select(User.reviewers, :id, :name_or_email,
                                     params[:reviewer])
assignable_employees = [User.unassigned] + User.assignable_employees
assigned_options =
  options_from_collection_for_select(assignable_employees, :id, :name_or_email,
                                     params[:assigned])
%>

<div class="task">
  <%= form_tag index_path, method: :get, class: "task-filter-form" do %>
    <%= render 'shared/status_filter_field' %>

    <div class="field">
      <%= label_tag :reviewer, 'Reviewer' %>
      <%= select_tag :reviewer, reviewer_options, include_blank: '- Any -' %>
    </div >

    <div class="field">
      <%= label_tag :assigned, 'Assigned' %>
      <%= select_tag :assigned, assigned_options, include_blank: '- Any -' %>
    </div >

    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', index_path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
