<%
path ||= request.path
return unless path
%>

<div class="filters-wrapper">
  <div class="heading-and-link">
    <h3>Filters</h3>

    <% if searching? %>
      <%= link_to 'reset', path %>
    <% end %>
  </div>

  <%= form_tag path, method: :get, class: "task-filter-form" do %>
    <%= render 'shared/string_filter_field', placeholder: 'tasks' %>
    <%= render 'tasks/status_filter_field' %>
    <%= render 'tasks/task_type_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
