<%
path ||= nil
return unless path

# TODO: add filter to show current user assigned
%>

<div class="task">
  <%= form_tag path, method: :get, class: "task-filter-form" do %>
    <%= render 'shared/status_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
