<%
path ||= request.path
return unless path
%>

<div class="task">
  <%= form_tag path, method: :get, class: "task-filter-form" do %>
    <%= render 'tasks/status_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>

  <%= render 'shared/page_links', collection: tasks %>
</div>
