<%
path ||= request.path
return unless path
%>

<div class="filters-wrapper">
  <h3>Filters</h3>

  <%= form_tag path, method: :get, class: "task-filter-form" do %>
    <%= render 'shared/string_filter_field' %>
    <%= render 'tasks/status_filter_field' %>
    <%= render 'tasks/type_filter_field' %>
    <%= render 'shared/order_filter_field' %>

    <% if searching? %>
      <p><%= link_to 'Clear filters', path %></p>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
