<div class="field">
  <%= label_tag :task_status %>

  <div id="task_status_labels" class="task-filter-options">
    <%= label_tag :task_status_all,
                  class: roller_radio_button_label_class('brown') do %>
      <%= radio_button_tag :task_status, :all,
                           (params[:task_status].blank? ||
                            params[:task_status] == 'all') %>
      <%= icon "buffer" %>
      All
    <% end %>

    <% %i[open unassigned assigned in_progress in_review approved
          closed].each do |status| %>
      <%
        color = Task::STATUS_OPTIONS[status][:color]
        klass = roller_radio_button_label_class(color)
      %>

      <%= label_tag "task_status_#{status}", class: klass do %>
        <%= radio_button_tag :task_status, status,
                             params[:task_status] == status.to_s %>
        <%= status.to_s.titleize %>
      <% end %>
    <% end %>
  </div>
</div>
