<div id="task-<%= task.id %>" class="task">
  <header class="task-header">
    <h3 class="task-summary">
      <%= task_type_icon_tag(task.task_type) %>
      <%= link_to task.summary,
                  category_project_task_path(task.category, task.project, task) %>
    </h3>
  </header>

  <main class="task-main">
    <p class="task-assignees">
      <% if task.assignees.any? %>
        <%= task.assignees.map(&:name_or_email).join(', ') %>
      <% else %>
        <em>Unassigned</em>
      <% end %>
    </p>

    <p>
      Status:
      <%= content_tag :strong, task.status, class: 'task-status' %>
    </p>

    <% if task.issue %>
      <p class="task-issue">
        <small>addresses</small>
          <%= link_to task.issue.summary,
                      category_project_issue_path(task.issue.category, task.issue.project, task.issue) %>
          (<%= task.issue.user.name_or_email %>)
      </p>
    <% end %>

    <p class="task-user">Reviewer: <%= task.user ? task.user.name_or_email : User.destroyed_name %></p>
    <p class="task-created-at">Created: <%= format_date(task.created_at) %></p>
    <% if task.updated_at != task.created_at %>
      <p class="task-updated-at">Updated: <%= format_date(task.updated_at) %></p>
    <% end %>
  </main>


  <footer class="task-footer">
    <%= link_to 'Edit',
                edit_category_project_task_path(task.category, task.project, task) %>
  </footer>
</div>
