<div id="task-<%= task.id %>" class="task">
  <header class="task-header">
    <h3 class="task-summary">
      <%= link_to task.id_and_summary, task_path(task) %>
    </h3>
  </header>

  <main class="task-main">
    <%= task_tags(task) %>

    <p class="task-dates">
      Opened
      <%= content_tag :strong, format_date(task.created_at), class: 'task-dates' %>
      by
      <strong class="task-user"><%= task.user ? task.user.name_or_email : User.destroyed_name %></strong>
      <% if task.created_at != task.updated_at %>
        <%= content_tag :span, " (ed. #{format_date(task.updated_at)})" %>
      <% end %>

      <% if can?(:update, task) %>
        <%= divider %>
        <%= link_to 'Edit', edit_task_path(task) %>
      <% end %>
    </p>

    <p class="task-assignees">
      <% if task.assignees.any? %>
        Assigned to
        <strong><%= task.assignees.map(&:name_or_email).join(', ') %></strong>
      <% else %>
        <em>Unassigned</em>
      <% end %>
    </p>

    <% if task.issue %>
      <p class="task-issue">
        Addresses
        <%= link_to task.issue.summary, issue_path(task.issue) %>
      </p>
    <% end %>
  </main>
</div>
