<%
  user = task.user
  issue = task.issue
  project = task.project
  category = task.category
  assignees = task.assignees.map do |assignee|
    link_to_unless_current assignee.name_or_email,
                           user_assignments_path(assignee),
                          class: 'task-assignee'
  end
%>

<div id="task-<%= task.id %>" class="task">
  <% if project && category %>
    <header class="task-header">
      <% unless project_page?(project) %>
        <%
          breadcrumb_pages =
            if category_page?(category)
              [[project.name, project]]
            else
              [[category.name, category], [project.name, project]]
            end
        %>
        <%= breadcrumbs breadcrumb_pages %>
      <% end %>

      <h3 class="task-summary">
        <%= link_to task.id_and_summary, task_path(task) %>
      </h3>
    </header>

    <main class="task-main">
      <%= task_tags(task) %>

      <% if issue %>
        <p class="task-issue">
          Addresses
          <%= link_to issue.heading, issue_path(issue) %>
        </p>
      <% end %>

      <% if assignees.any? %>
        <p class="task-assignees">
          Assigned to <%= safe_join(assignees, ', ') %>
        </p>
      <% end %>

      <p class="task-dates">
        Opened
        <%= content_tag :strong, format_date(task.created_at),
                        class: 'task-dates' %>
        by
        <% if user %>
          <%= link_to_unless_current user.name_or_email,
                                     user_tasks_path(user),
                                     class: 'task-user' %>
        <% end %>
        <% if task.created_at != task.updated_at %>
          <%= content_tag :span, " (ed. #{format_date(task.updated_at)})" %>
        <% end %>

        <% if can?(:update, task) %>
          <%= divider %>
          <%= link_to 'Edit', edit_task_path(task),
                      class: 'secondary-link' %>
        <% end %>
      </p>
    </main>
  <% end %>
</div>
