<%
  user = task.user
  issue = task.issue
  project = task.project
  category = task.category
  assignees = task.assignees
  notifications = current_user.task_notifications.where(task_id: task.id)

  css_class = 'task'
  css_class += ' with-notification' if notifications.any?
%>

<%= content_tag :section, id: "task-#{task.id}", class: css_class do %>
  <header class="task-header">
    <% if notifications.any? %>
      <%= render 'task_notifications/task_notifications',
                 task: task,
                 task_notifications: notifications %>
    <% end %>

    <div class="header-box">
      <%= content_tag(:p, "Task ##{task.id}", class: 'task-id') %>

      <%= content_tag :p, class: 'task-dates' do %>
        <%= format_date(task.created_at) %>

        <% if task.created_at != task.updated_at %>
          (ed. <%= format_date(task.updated_at) %>)
        <% end %>
      <% end %>
    </div>

    <h3 class="task-summary">
      <%= link_to_if(can?(:read, task), task.summary, task_path(task)) %>
    </h3>
  </header>

  <main class="task-container">
    <div class="task-tags-wrapper">
      <%# TODO: merge with edit %>
      <%= task_tags(task) %>

      <% if issue %>
        <p>
          <%= link_to task_issue_path(task, issue),
                      remote: true, class: 'toggle-link' do %>
            Preview <%= content_tag :span, "Issue ##{issue.id}", class: 'issue-id' %>
          <% end %>
        </p>
      <% end %>
    </div>

    <dl class="task-data">
      <% if category && project %>
        <% unless project_page?(project) %>
          <% unless category_page?(category) %>
            <dt>Category</dt>
            <dd>
              <%= link_to_if(can?(:read, category), category.name, category) %>
            </dd>
          <% end %>

          <dt>Project</dt>
          <dd>
            <%= link_to_if(can?(:read, project), project.name, project) %>
          </dd>
        <% end %>
      <% end %>

      <dt>User</dt>
      <dd class="task-user">
        <% if user && can?(:read, user) %>
          <%= link_to_unless_current user.name_or_email, user_tasks_path(user) %>
        <% else %>
          <%= user&.name_or_email || User.destroyed_name %>
        <% end %>

        <% if assignees.any? %>
          <dt>Assigned</dt>
          <dd class="task-assignees">
            <%= render collection: assignees, partial: 'tasks/assignee' %>
          </dd>
        <% end %>
      </dd>
    </dl>
  </main>


  <% if can?(:update, task) %>
    <footer>
      <%= link_to 'Edit', edit_task_path(task) %>
    </footer>
  <% end %>

  <% if issue %>
    <div id="task_<%= task.id %>_issue_<%= issue.id %>_wrapper" class="task-issue-wrapper"></div>
  <% end %>
<% end %>
