<%
  filter_form_path =
    if @project
      project_tasks_path(@project)
    elsif @category
      category_tasks_path(@category)
    elsif @user
      user_tasks_path(@user)
    end
%>

<% if @project %>
  <%= project_header @project %>
  <header class="tasks-header">
    <h2>Project Tasks</h2>
    <p><%= render @subscription, project: @project %></p>
  </header>
<% elsif @category %>
  <%= category_header @category %>
  <header class="tasks-header">
    <h2>Category Tasks</h2>
    <p><%= render @subscription, category: @category %></p>
  </header>
<% elsif @user %>
  <%= user_header @user %>
  <header class="tasks-header">
    <h2>Created Tasks</h2>
  </header>
<% else %>
  <h1>All Tasks</h1>
  <header class="tasks-header"></header>
<% end %>

<%= render 'tasks/tasks', tasks: @tasks,
                          path: filter_form_path %>
