<div class="task-show-page">
  <%= task_header(@task) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <section class="task-subscription-wrapper">
        <%= render @subscription, task: @task %>
      </section>

      <% if @task.open? %>
        <section class="task-assignees-wrapper">
          <h4 class="task-column-title">Assigned</h4>

          <% if @assignees.any? %>
            <dl class="task-assignees">
              <% @assignees.each do |assignee| %>
                <%= render 'shared/assignee',
                           assignee: assignee, task: @task %>
              <% end %>
            </dl>

            <% unless @task.in_review? %>
              <% if can?(:assign, @task) %>
                <p>
                  <%= link_to 'reassign',
                              edit_assignment_path(@task),
                              id: 'task_assignment_link',
                              class: 'secondary-link' %>
                </p>
              <% elsif can?(:create, new_task_assignee(@task)) %>
                <p>
                  <%= link_to "self assign",
                              task_task_assignees_path(@task),
                              method: :post,
                              class: 'create-link' %>
                </p>
              <% end %>
            <% end %>
          <% else %>
            <p>
              no one
              <%# TODO: add form with ajax with first click, then toggle hide class %>
              <% unless @task.in_review? %>
                <% if can?(:assign, @task) %>
                  <%= divider %>
                  <%= link_to 'assign someone',
                              edit_assignment_path(@task),
                              id: 'task_assignment_link',
                              class: 'secondary-link' %>
                <% elsif can?(:create, new_task_assignee(@task)) %>
                  <%= divider %>
                  <%= link_to "self assign",
                              task_task_assignees_path(@task),
                              method: :post,
                              class: 'create-link' %>
                <% end %>
              <% end %>
            </p>
          <% end %>

          <% if !@task.in_review? && can?(:assign, @task) %>
            <%= render 'assignments/form', task: @task %>
          <% end %>

          <% unless @task.in_review? %>
            <p>
              <% if @progressions.any? %>
                <%= render partial: 'shared/progression',
                           collection: @progressions,
                           locals: { task: @task } %>
              <% else %>
                <% if can?(:create, new_progression(@task)) %>
                  <%= link_to 'start task',
                              task_progressions_path(@task),
                              method: :post, class: 'create-link' %>
                <% end %>

                <% if @task_assignee && can?(:destroy, @task_assignee) %>
                  <%= divider %>
                  <%= render @task_assignee, task: @task %>
                <% end %>
              <% end %>

              <% if can?(:create, new_review(@task)) %>
                <%= divider %>
                <%= link_to 'mark complete', task_reviews_path(@task),
                            method: :post, class: 'secondary-link' %>
              <% end %>
            </p>
          <% end %>

          <% if @task.in_review? %>
            <%= render 'reviews/pending',
                       review: @task.current_review %>
          <% end %>
        </section>
      <% end %>

      <section class="task-issue">
        <h4 class="task-column-title">Source Issue</h4>
        <p>
          <% if @task.issue %>
            <%= render 'shared/issue', issue: @task.issue %>
          <% else %>
            no connection
          <% end %>
        </p>
      </section>

      <% if @siblings&.any? %>
        <section class="task-siblings">
          <h4 class="task-column-title">Related <%= 'Task'.pluralize(@siblings.size) %></h4>
          <%= render partial: 'shared/task',
                     collection: @siblings %>
        </section>
      <% end %>

      <% if @duplicates.any? %>
        <section class="task-duplicates">
          <h4 class="task-column-title">Duplicate Tasks</h4>

          <%= render partial: 'shared/task',
                     collection: @duplicates,
                     locals: { show_status: false } %>
        </section>
      <% end %>

      <% if @task.duplicate? %>
        <section class="task-duplicatee">
          <h4 class="task-column-title">Duplicate Of</h4>

          <%= render @source_connection %>
        </section>
      <% elsif @task.open? && !@task.in_review? %>
        <%
          connection = new_task_connection(@task)
          closure = new_task_closure(@task)
        %>

        <% if can?(:create, connection) || can?(:create, closure) %>
          <section class="task-connections">
            <h4 class="task-column-title">Actions</h4>
            <% if can?(:create, connection) %>
              <p>
                <%= link_to 'mark as duplicate and close',
                            new_task_connection_path(@task),
                            class: 'destroy-link' %>
              </p>
            <% end %>
            <% if can?(:create, closure) %>
              <p>
                <%= link_to 'mark invalid and close',
                            task_closures_path(@task), method: :post,
                            class: 'destroy-link' %>
              </p>
            <% end %>
          </section>
        <% end %>
      <% elsif @task.closed? && !@task.source_connection %>
        <% if can?(:create, new_task_reopening(@task)) %>
          <section class="task-connections">
            <h4 class="task-column-title">Actions</h4>
            <p>
              <%= link_to 'reopen task',
                          task_reopenings_path(@task), method: :post,
                          class: 'create-link' %>
            </p>
          </section>
        <% end %>
      <% end %>

      <h4 class="task-column-title">History</h4>
      <section class="task-history-wrapper">
        <dl class="task-history">
          <% if @user %>
            <%= content_tag :dt, link_to(@user.name_or_email,
                                         user_tasks_path(@user)) %>
          <% end %>
          <%= content_tag :dd, "opened: #{format_date @task.created_at}",
                          class: 'task-created-at' %>
          <% if @task.updated_at != @task.created_at %>
            <%= content_tag :dd, "updated: #{format_date @task.updated_at}",
                            class: 'task-updated-at' %>
          <% end %>

          <% if @assigned.any? %>
            <%= render partial: 'shared/assignee',
                       collection: @assigned,
                       locals: { task: @task } %>
          <% end %>

          <%= render partial: 'tasks/history',
                     collection: @task.history_feed,
                     locals: { task: @task } %>
        </dl>
      </section>
    </div><!-- first column  -->

    <div class="task-column second-column">
      <div class="task-comments comments">
        <%= render 'tasks/description', task: @task, user: @user %>

        <%= render partial: 'shared/comment', collection: @comments,
                   locals: { object: @task } %>

        <%= render 'shared/new_comment',
                   object: @task, comment: new_task_comment(@task),
                   user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
