<div class="task-show-page">
  <%= task_header(@task, @project, @category) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <h4 class="task-column-title">Created</h4>
      <p class="task-user-date">
        <span class="task-dates"><%= format_date @task.created_at %></span>
        <span class="task-user">(<%= @task.user.name_or_email %>)</span>
      </p>
      <% if @task.assignees.any? %>
        <h4 class="task-column-title">Assigned</h4>
        <p  class="task-assignees">
          <%= render partial: 'shared/assignee', collection: @task.assignees %>
        </p>
      <% else %>
        <p>No one assigned</p>
      <% end %>

      <% if @task.issue %>
        <h4 class="task-column-title">Addresses</h4>
        <p>
          <%= issue_type_icon_tag(@task.issue.issue_type) %>
          <%= link_to @task.issue.summary,
                      category_project_issue_path(@category, @task.project, @task.issue) %>
        </p>

      <% end %>

      <p>
        <%= link_to 'Edit Task',
                    edit_category_project_task_path(@category, @task.project, @task) %>
      </p>
    </div>

    <div class="task-column second-column">
      <%= content_tag :p, @task.description, class: 'task-description' %>

      <div class="task-comments comments">
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @task.project, task: @task } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @task.project, task: @task,
                   task_comment: @task_comment, user_options: @user_options %>
      </div>
    </div>
  </div>
</div>
