<div class="task-show-page">
  <%= task_header(@task, @project, @category) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <h4 class="task-column-title">Assigned</h4>
      <% if @task.assignees.any? %>
        <p class="task-assignees">
          <%= render partial: 'shared/assignee', collection: @task.assignees %>
        </p>
      <% else %>
        <p>undecided</p>
      <% end %>

      <h4 class="task-column-title">Issue</h4>
      <p class="task-issue">
        <% if @task.issue %>
          <%= issue_type_icon_tag(@task.issue.issue_type) %>
          <%= link_to @task.issue.summary,
                      category_project_issue_path(@category, @task.project, @task.issue) %>
        <% else %>
          <em>none</em>
        <% end %>
        <span class="divider">|</span>
        <%= link_to 'change',
                    edit_category_project_task_path(@category, @task.project, @task) %>
      </p>
    </div>

    <div class="task-column second-column">
      <div class="task-status">
        <p>
          Status:
          <% if @task.open? %>
            Open
            <%= link_to 'Change to closed',
                        close_category_task_path(@category, @task),
                        method: :patch  %>
          <% else %>
            Closed
            <%= link_to 'Change to open',
                        open_category_task_path(@category, @task),
                        method: :patch  %>
          <% end %>
        </p>
      </div>

      <div class="task-comments comments">
        <div class="comment task-description">
          <header class="task-user-date">
            <p><span class="task-user"><%= @task.user ? @task.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="task-date"><%= format_date @task.created_at %></p>
          </header>

          <%= content_tag :main, @task.description_html.html_safe %>

          <footer>
            <%= link_to 'edit',
                        edit_category_project_task_path(@category, @task.project, @task) %>
          </footer>
        </div>

        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @task.project, object: @task } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @task.project, object: @task,
                   comment: @comment, user_options: @user_options %>
      </div>
    </div>
  </div>
</div>
