<%
comments = @task.comments.includes(:user)
comment = @task.comments.build
assignees = @task.assignees.includes(:progressions)
assigned = @task.assigned
# TODO: add re-open, force close to history
%>

<div class="task-show-page">
  <%= task_header(@task) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <section class="task-status-wrapper">
        <h4 class="task-column-title">Status</h4>

        <p>
          <%= content_tag :strong, @task.status, class: 'task-status' %>
        </p>

        <%# TODO: reviewer+ %>
        <% review = @task.current_review %>
        <% if review&.pending? %>
          <p>
            <%= link_to 'approve',
                        approve_task_review_path(@task, review),
                        method: :patch, class: 'create-link' %>
            <%= divider %>
            <%= link_to 'disapprove',
                        disapprove_task_review_path(@task, review),
                        method: :patch, class: 'destroy-link' %>
          </p>
        <% end %>

        <p>
          <% if @task.open? %>
            <%# TODO: admin only %>
            <%= link_to 'force close',
                        close_task_path(@task),
                        method: :patch, class: 'secondary-link' %>
          <% else %>
            <%# TODO: reviewer+ only %>
            <%= link_to 'reopen',
                        open_task_path(@task),
                        method: :patch, class: 'secondary-link' %>
          <% end %>
        </p>
      </section>

      <% if @task.open? %>
        <section class="task-assignees-wrapper">
          <h4 class="task-column-title">Assigned</h4>

          <% if assignees.any? %>
            <dl class="task-assignees">
              <%= render partial: 'shared/assignee',
                         collection: assignees,
                         locals: { task: @task, current_assignee: true } %>
            </dl>
            <% unless @task.in_review? %>
              <p>
                <%= link_to 'reassign',
                            edit_category_project_task_path(@category, @project, @task),
                            id: 'task_assignment_link', class: 'secondary-link' %>
              </p>
            <% end %>
          <% else %>
            <p>
              no one
              <%# TODO: reviewer+ only, otherwise allow self-assigning for worker+ %>
              <%# TODO: add form with ajax with first click, then toggle hide class %>
              <% unless @task.in_review? %>
                <%= divider %>
                <%= link_to 'assign someone',
                            edit_category_project_task_path(@category, @project, @task),
                            id: 'task_assignment_link', class: 'secondary-link' %>

                <%# TODO: admin %>
                <%= divider %>
                <%= link_to 'complete',
                            task_reviews_path(@task, review: { user_id: @task.user_id }),
                            method: :post %>
              <% end %>
            </p>
          <% end %>

          <% unless @task.in_review? %>
            <%= render 'task_assignments/form', task: @task %>
          <% end %>
        </section>
      <% end %>

      <h4 class="task-column-title">History</h4>
      <section class="task-history-wrapper">
        <% if assigned.any? %>
          <dl class="task-assigned">
              <%= render partial: 'shared/assignee',
                         collection: assigned,
                         locals: { task: @task } %>
          </dl>
        <% end %>

        <% if @task.concluded_reviews.any? %>
          <dl class="task-reviews">
            <%= render @task.concluded_reviews, task: @task %>
          </dl>
        <% end %>
      </section>

      <% if @task.open? %>
        <section class="task-reviewer">
          <h4 class="task-column-title">Reviewer</h4>
          <p>
            <span class="task-user">
              <%= @task.user ? @task.user.name_or_email : User.destroyed_name %>
            </span>

            <%# TODO: allow reviewers+ to self assign %>
            <%= divider %>
            <%= link_to 'change',
                        edit_category_project_task_path(@category, @task.project, @task),
                        class: 'secondary-link' %>
          </p>
        </section>
      <% end %>

      <section class="task-issue">
        <h4 class="task-column-title">Issue</h4>
        <p>
          <% if @task.issue %>
            <%= render 'shared/issue',
                       issue: @task.issue, task: @task,
                       category: @category, project: @project %>
          <% else %>
            <em>no connection</em>
          <% end %>
        </p>
      </section>
    </div>

    <div class="task-column second-column">
      <div class="task-comments comments">
        <div class="comment task-description">
          <header class="task-user-date">
            <p><span class="task-user"><%= @task.user ? @task.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="task-date"><%= format_date @task.created_at %></p>
          </header>

          <%= content_tag :main, @task.description_html.html_safe %>

          <footer>
            <%= link_to 'edit',
                        edit_category_project_task_path(@category, @task.project, @task) %>
          </footer>
        </div>

        <%= render partial: 'roller_comments/comment', collection: comments,
                   locals: { category: @category, project: @task.project, object: @task } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @task.project, object: @task,
                   comment: comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
