<div class="task-show-page">
  <% if @project %>
    <%= project_header(@project, @category) %>
  <% else %>
    <%= category_header(@category) %>
  <% end %>

  <h2 class="task-summary">
    Task: <%= @task.summary %>
  </h2>

  <p>
    <%= task_type_tag @task.task_type %>
  </p>

  <% if @project %>
    <p>
      <%= link_to 'Edit',
                  edit_category_project_task_path(@category, @project, @task) %>
    </p>
  <% end %>

  <div class="task-comments">
    <blockquote class="comment first-comment">
      <p>
        <%= @task.description %>
      </p>
      <footer>
        - <%= @task.user.name_or_email %>
      </footer>
    </blockquote>
  </div>

  <h3>Assignees</h3>
  <% if @task.assignees.any? %>
    <ul class="task-assignees">
      <% @task.assignees.each do |assignee|  %>
        <li id="task-assignee-<%= assignee.id %>" class="task-assignee">
          <%= assignee.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No one assigned</p>
  <% end %>

  <% if @task.issue %>
    <h3>Stems from Issue:</h3>
    <p id="task-issue-<%= @task.issue_id %>" class="task-issue">
      <%= link_to @task.issue.summary,
                  category_project_issue_path(@category, @project, @task.issue) %>
    </p>
  <% end %>
</div>
