<%
comments = @task.comments.includes(:user)
comment = @task.comments.build
assignees = @task.assignees.includes(:progressions)
assigned = @task.assigned
# TODO: add re-open, force close to history
%>

<div class="task-show-page">
  <%= task_header(@task) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <section class="task-status-wrapper">
        <h4 class="task-column-title">Status</h4>

        <p>
          <%= content_tag :strong, @task.status,
                          class: 'task-status' %>
        </p>

        <% if @task.open? && !@task.in_review? %>
          <p>
            <%
              progressions =
                @task.progressions.unfinished
                     .where('progressions.user_id = ?', current_user.id)
            %>
            <% if progressions.any? %>
              <%= render partial: 'shared/progression',
                         collection: progressions,
                         locals: { task: @task } %>
            <% elsif @task.assigned? &&
                     policy(@task.progressions.build).create? %>
              <%= link_to 'start task',
                          task_progressions_path(@task),
                          method: :post, class: 'create-link' %>
            <% end %>

            <% if policy(@task.reviews.build).create? %>
              <%= divider %>
              <%= link_to 'mark complete', task_reviews_path(@task),
                          method: :post %>
            <% end %>
          </p>
        <% end %>

        <% review = @task.current_review %>
        <% if review&.pending? %>
          <p>
            <% if policy(review).approve? %>
              <%= link_to 'approve',
                          approve_task_review_path(@task, review),
                          method: :patch, class: 'create-link' %>
            <% end %>

            <% if policy(review).disapprove? %>
              <%= divider %>
              <%= link_to 'disapprove',
                          disapprove_task_review_path(@task, review),
                          method: :patch, class: 'destroy-link' %>
            <% end %>

            <% if policy(review).destroy? %>
              <% confirm = 'Are you sure you want to cancel the review?' %>
              <%= divider %>
              <%= link_to 'cancel review',
                          task_review_path(@task, review),
                          method: :delete, data: { confirm: confirm },
                          class: 'destroy-link' %>
            <% end %>
          </p>
        <% end %>

        <% if policy(TaskConnection).new? && @task.open? &&
              !@task.in_review? && @task.duplicatee.blank? %>
          <p>
            <%= link_to 'mark duplicate',
                        new_task_connection_path(@task),
                        class: 'normal-link' %>
          </p>
        <% end %>

        <% if @task.duplicatee.present? %>
          <% duplicatee = @task.duplicatee %>
          <p>
            Duplicate of:
            <%= link_to_if policy(duplicatee).show?,
                           duplicatee.short_summary,
                           category_project_task_path(duplicatee.category,
                                                      duplicatee.project,
                                                      duplicatee) %>
          </p>

          <% if policy(TaskConnection).destroy? %>
            <%
              confirm = "Are you sure you want to remove the connection to " \
                        "\"#{duplicatee.short_summary}\" and reopen " \
                        "this task?"
            %>
            <p>
              <%= link_to 'Mark not a duplicate and reopen',
                           @task.source_task_connection,
                           method: :delete, class: 'destroy-link',
                           data: { confirm: confirm } %>
            </p>
          <% end %>
        <% end %>

        <% if policy(@task).close? %>
          <p>
            <% if @task.open? %>
              <%= link_to 'force close',
                          close_task_path(@task),
                          method: :patch, class: 'secondary-link' %>
            <% else %>
              <%= link_to 'reopen',
                          open_task_path(@task),
                          method: :patch, class: 'secondary-link' %>
            <% end %>
          </p>
        <% end %>
      </section>

      <% if @task.open? %>
        <section class="task-assignees-wrapper">
          <h4 class="task-column-title">Assigned</h4>

          <% if assignees.any? %>
            <dl class="task-assignees">
              <% assignees.each do |assignee| %>
                <%= render 'shared/assignee',
                           assignee: assignee, task: @task,
                           current_assignee: assignee == current_user %>
              <% end %>
            </dl>

            <% if policy(@task).assign? && !@task.in_review? %>
              <p>
                <%= link_to 'reassign',
                            edit_task_assignment_path(@task),
                            id: 'task_assignment_link',
                            class: 'secondary-link' %>
              </p>
            <% end %>
          <% else %>
            <p>
              no one
              <%# TODO: add form with ajax with first click, then toggle hide class %>
              <% if !@task.in_review? && policy(@task).assign? %>
                <%= divider %>
                <%= link_to 'assign someone',
                            edit_task_assignment_path(@task),
                            id: 'task_assignment_link',
                            class: 'secondary-link' %>
              <% end %>
            </p>
          <% end %>

          <% if !@task.in_review? && policy(@task).assign? %>
            <%= render 'task_assignments/form', task: @task %>
          <% end %>
        </section>
      <% end %>

      <h4 class="task-column-title">History</h4>
      <section class="task-history-wrapper">
        <% if assigned.any? %>
          <dl class="task-assigned">
              <%= render partial: 'shared/assignee',
                         collection: assigned,
                         locals: { task: @task } %>
          </dl>
        <% end %>

        <% if @task.concluded_reviews.any? %>
          <dl class="task-reviews">
            <%= render @task.concluded_reviews, task: @task %>
          </dl>
        <% end %>
      </section>

      <% if @task.open? %>
        <section class="task-reviewer">
          <h4 class="task-column-title">Reviewer</h4>
          <p>
            <span class="task-user">
              <%= @task.user ? @task.user.name_or_email : User.destroyed_name %>
            </span>

            <% if policy(@task).edit?  %>
              <%= divider %>
              <%= link_to 'change',
                          edit_category_project_task_path(@category, @task.project, @task),
                          class: 'secondary-link' %>
            <% end %>
          </p>
        </section>
      <% end %>

      <section class="task-issue">
        <h4 class="task-column-title">Issue</h4>
        <p>
          <% if @task.issue %>
            <%= render 'shared/issue',
                       issue: @task.issue, task: @task,
                       category: @category, project: @project %>
          <% else %>
            <em>no connection</em>
          <% end %>
        </p>
      </section>

      <% if @task.duplicates.any? %>
        <section class="task-connections">
          <h4 class="task-column-title">Duplicate Tasks</h4>

          <% @task.duplicates.each do |duplicate| %>
            <p>
              <%= link_to_if policy(duplicate).show?,
                             duplicate.id_and_summary,
                             category_project_task_path(duplicate.category,
                                                        duplicate.project,
                                                        duplicate) %>
            </p>
          <% end %>
        </section>
      <% end %>
    </div>

    <div class="task-column second-column">
      <div class="task-comments comments">
        <div class="comment task-description">
          <header class="task-user-date">
            <p><span class="task-user"><%= @task.user ? @task.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="task-date"><%= format_date @task.created_at %></p>
          </header>

          <%= content_tag :main, @task.description_html.html_safe %>

          <% if policy(@task).edit?  %>
            <footer>
              <%= link_to 'edit',
                          edit_category_project_task_path(@category,
                                                          @task.project,
                                                          @task) %>
            </footer>
          <% end %>
        </div>

        <%= render partial: 'roller_comments/comment', collection: comments,
                   locals: { category: @category, project: @task.project,
                             object: @task } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @task.project, object: @task,
                   comment: comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
