<div class="task-show-page">
  <% if @project %>
    <%= project_header(@project, @category) %>
  <% else %>
    <%= category_header(@category) %>
  <% end %>

  <h2 class="task-summary">
    Task: <%= @task.summary %>
  </h2>

  <p>
    <%= task_type_tag @task.task_type %>
  </p>

  <% if @project %>
    <p>
      <%= link_to 'Edit',
                  edit_category_project_task_path(@category, @project, @task) %>
    </p>
  <% end %>


  <div class="task-comments comments">
    <blockquote class="comment first-comment">
      <header>
        <p class="comment-user"><%= @task.user.name_or_email %>:</p>
        <p class="comment-dates">
          <%= format_date @task.created_at %>
        </p>
      </header>
      <main>
        <%= content_tag :p, @task.description, class: 'task-description' %>
      </main>
    </blockquote>

    <% @comments.each do |comment|  %>
      <blockquote id="task-comment-<%= comment.id %>" class="comment">
        <header>
          <p class="comment-user"><%= comment.user.name_or_email %>:</p>
          <p class="comment-dates">
            <%= format_date comment.created_at %>
            <% if comment.created_at != comment.updated_at %>
            (edited <%= format_date comment.updated_at %>)
            <% end %>
          </p>
        </header>
        <%# TODO: add markup support %>
        <main><%= content_tag :p, comment.body %></main>
        <footer>
          <p>
            <%= link_to 'edit', edit_category_project_task_task_comment_path(@category, @task.project,
                                                                             @task, comment) %> |
            <%= link_to 'delete',
                        category_project_task_task_comment_path(@category, @task.project,
                                                                             @task, comment),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </p>
        </footer>
      </blockquote>
    <% end %>
    <div class="comment">
      <header>
        <%# TODO: use current user %>
        <p>Add Comment:</p>
      </header>
      <%= render 'task_comments/form', category: @category, project: @task.project,
                                       task: @task, task_comment: @task_comment,
                                       user_options: @user_options %>
    </div>
  </div>

  <h3>Assigned to complete task:</h3>
  <% if @task.assignees.any? %>
    <ul class="task-assignees">
      <% @task.assignees.each do |assignee|  %>
        <li id="task-assignee-<%= assignee.id %>" class="task-assignee">
          <%= assignee.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No one assigned</p>
  <% end %>

  <% if @task.issue %>
    <h3>Stems from Issue:</h3>
    <p id="task-issue-<%= @task.issue_id %>" class="task-issue">
      <%= link_to @task.issue.summary,
                  category_project_issue_path(@category, @project, @task.issue) %>
    </p>
  <% end %>
</div>
