<div class="task-show-page">
  <%= task_header(@task, @project, @category) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <h4 class="task-column-title">Details</h4>
      <p class="task-user-date">
        Created by
        <span class="task-user"><%= @task.user.name_or_email %></span>
        at
        <span class="task-date"><%= format_date @task.created_at %></span>
      </p>
      <h4 class="task-column-title">Assigned</h4>
      <% if @task.assignees.any? %>
        <p  class="task-assignees">
          <%= render partial: 'shared/assignee', collection: @task.assignees %>
        </p>
      <% else %>
        <p>undecided</p>
      <% end %>

      <h4 class="task-column-title">Issue</h4>
      <% if @task.issue %>
        <p class="task-issue">
          <%= issue_type_icon_tag(@task.issue.issue_type) %>
          <%= link_to @task.issue.summary,
                      category_project_issue_path(@category, @task.project, @task.issue) %>
        </p>
      <% else %>
        <p>n/a</p>
      <% end %>

      <p>
        <%= link_to 'Edit Task',
                    edit_category_project_task_path(@category, @task.project, @task),
                    class: 'button' %>
      </p>
    </div>

    <div class="task-column second-column">
      <%= content_tag :p, @task.description, class: 'task-description' %>

      <div class="task-comments comments">
        <%= render partial: 'roller_comments/comment', collection: @comments,
                   locals: { category: @category, project: @task.project, object: @task } %>

        <%= render 'roller_comments/form',
                   category: @category, project: @task.project, object: @task,
                   comment: @comment, user_options: @user_options %>
      </div>
    </div>
  </div>
</div>
