<%
comments = @task.comments.includes(:user)
comment = @task.comments.build
user = @task.user
assignees = @task.assignees.includes(:progressions)
assigned = @task.assigned
review = @task.current_review
# TODO: add re-open, force close to history
# TODO: add page titles for browsers
# TODO: add way to share the url (copy to the clipboard, expandable)
%>

<div class="task-show-page">
  <%= task_header(@task) %>

  <div class="task-columns">
    <div class="task-column first-column">
      <section class="task-subscription-wrapper">
        <%= render @task_subscription, task: @task %>
      </section>

      <% if @task.open? %>
        <section class="task-assignees-wrapper">
          <h4 class="task-column-title">Assigned</h4>

          <% if assignees.any? %>
            <dl class="task-assignees">
              <% assignees.each do |assignee| %>
                <%= render 'shared/assignee',
                           assignee: assignee, task: @task %>
              <% end %>
            </dl>

            <% if can?(:assign, @task) && !@task.in_review? %>
              <p>
                <%= link_to 'reassign',
                            edit_assignment_path(@task),
                            id: 'task_assignment_link',
                            class: 'secondary-link' %>
              </p>
            <% end %>
          <% else %>
            <p>
              no one
              <%# TODO: add form with ajax with first click, then toggle hide class %>
              <% if !@task.in_review? && can?(:assign, @task) %>
                <%= divider %>
                <%= link_to 'assign someone',
                            edit_assignment_path(@task),
                            id: 'task_assignment_link',
                            class: 'secondary-link' %>
              <% end %>
            </p>
          <% end %>

          <% if !@task.in_review? && can?(:assign, @task) %>
            <%= render 'assignments/form', task: @task %>
          <% end %>

          <% unless @task.in_review? %>
            <p>
              <%
                progressions =
                  @task.progressions.unfinished
                       .where('progressions.user_id = ?', current_user.id)
              %>
              <% if progressions.any? %>
                <%= render partial: 'shared/progression',
                           collection: progressions,
                           locals: { task: @task } %>
              <% elsif @task.assigned? &&
                       can?(:create, @task.progressions.build(user_id: current_user.id)) %>
                <%= link_to 'start task',
                            task_progressions_path(@task),
                            method: :post, class: 'create-link' %>
              <% end %>

              <% if can?(:create, @task.reviews.build(user_id: current_user.id)) %>
                <%= divider %>
                <%= link_to 'mark complete', task_reviews_path(@task),
                            method: :post, class: 'secondary-link' %>
              <% end %>
            </p>
          <% end %>

          <% if review&.pending? %>
            <dl class="task-pending-review">
              <% unless assignees.size == 1 && assignees.first == review.user %>
                <dt>
                  <%= content_tag :strong, review.user.name_or_email %>
                </dt>
              <% end %>

              <dd>
                marked ready for review:
                <%= format_date review.created_at %>
              </dd>

              <dd>
                <% if can?(:approve, review) %>
                  <%= link_to 'approve',
                              approve_task_review_path(@task, review),
                              method: :patch, class: 'create-link' %>
                <% end %>

                <% if can?(:disapprove, review) %>
                  <%= divider %>
                  <%= link_to 'disapprove',
                              disapprove_task_review_path(@task, review),
                              method: :patch, class: 'destroy-link' %>
                <% end %>

                <% if can?(:destroy, review) %>
                  <% confirm = 'Are you sure you want to cancel the review?' %>
                  <%= link_to 'cancel review',
                              task_review_path(@task, review),
                              method: :delete, data: { confirm: confirm },
                              class: 'destroy-link' %>
                <% end %>
              </dd>
            </dl>
          <% end %>
        </section>
      <% end %>

      <% if @task.duplicates.any? %>
        <section class="task-duplicates">
          <h4 class="task-column-title">Duplicate Tasks</h4>

          <%= render partial: 'shared/task', collection: @task.duplicates %>
        </section>
      <% end %>

      <% if @task.duplicatee.present? %>
        <section class="task-duplicatee">
          <h4 class="task-column-title">Duplicate Of</h4>
          <% duplicatee = @task.duplicatee %>

          <%= render 'shared/task', task: duplicatee %>

          <% if can?(:destroy, TaskConnection) %>
            <%
              confirm = "Are you sure you want to remove the connection to " \
                        "\"#{duplicatee.short_summary}\" and reopen " \
                        "this task?"
            %>
            <p>
              <%= link_to 'Mark not a duplicate and reopen',
                           @task.source_task_connection,
                           method: :delete, class: 'destroy-link',
                           data: { confirm: confirm } %>
            </p>
          <% end %>
        </section>
      <% elsif @task.open? && !@task.in_review? &&
               can?(:create, TaskConnection) %>
        <section class="task-connections">
          <h4 class="task-column-title">Task Connections</h4>
          <p>
            <%= link_to 'mark duplicate',
                        new_task_connection_path(@task),
                        class: 'normal-link' %>
          </p>
        </section>
      <% end %>

      <section class="task-issue">
        <h4 class="task-column-title">Source Issue</h4>
        <p>
          <% if @task.issue %>
            <%= render 'shared/issue',
                       issue: @task.issue, task: @task,
                       category: @category, project: @project %>
          <% else %>
            no connection
          <% end %>
        </p>
      </section>

      <h4 class="task-column-title">History</h4>
      <section class="task-history-wrapper">
        <dl class="task-history">
          <% if user %>
            <%= content_tag :dt, link_to(user.name_or_email,
                                         user_tasks_path(user)) %>
          <% end %>
          <%= content_tag :dd, "opened: #{format_date @task.created_at}",
                          class: 'task-created-at' %>
          <% if @task.created_at != @task.updated_at %>
            <%= content_tag :dd, "updated: #{format_date @task.updated_at}",
                            class: 'task-updated-at' %>
          <% end %>

          <% if assigned.any? %>
            <%= render partial: 'shared/assignee',
                       collection: assigned,
                       locals: { task: @task } %>
          <% end %>

          <% if @task.concluded_reviews.any? %>
            <%= render @task.concluded_reviews, task: @task %>
          <% end %>
        </dl>
      </section>
    </div><!-- first column  -->

    <div class="task-column second-column">
      <div class="task-comments comments">
        <div class="comment task-description">
          <header class="task-user-date">
            <p><span class="task-user"><%= @task.user ? @task.user.name_or_email : User.destroyed_name %></span>:</p>
            <p class="task-dates"><%= formatted_dates @task %></p>
          </header>

          <%= content_tag :main, @task.description_html.html_safe %>

          <% if can?(:update, @task)  %>
            <footer>
              <p><%= link_to 'edit', edit_task_path(@task) %></p>
            </footer>
          <% end %>
        </div>

        <%= render partial: 'shared/comment', collection: comments,
                   locals: { category: @category, project: @task.project,
                             object: @task } %>

        <%= render 'shared/new_comment',
                   category: @category, project: @task.project, object: @task,
                   comment: comment, user_options: @comment_user_options %>
      </div>
    </div>
  </div>
</div>
