<% url = issue_url(@issue) %>

<h1>
  Status for
  <%= link_to "Issue##{ @issue.id}", url, target: '_blank' %>
  changed
</h1>

<hr>

<h2>Changes</h2>
<p>
  Status:
  <%= content_tag :span, @old_status.titleize,
                  class: 'issue-status issue-old-status' %>
  ->
  <%= content_tag :span, @new_status.titleize,
                  class: 'issue-status issue-new-status' %>
</p>

<hr>

<%= render 'details', issue: @issue %>

<p>
  <%= link_to 'Visit Issue', url, target: '_blank' %>
</p>
