<%= user_header @user %>

<div class="columns">
  <div class="first-column">
    <%= content_tag :h2, "Cancel #{@user.employee_type} Account" %>

    <%= render 'form', user: @user %>
  </div>
  <div class="second-column">
    <%- if current_user.id == @user.id %>
      <%- if respond_to?(:edit_user_registration_path) %>
        <div class="devise-links">
          <h3>Advanced</h3>
          <%= content_tag :p, link_to('Change your password',
                                      edit_user_registration_path) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<p><%= link_to 'Back', :back %></p>
