<%= form_with(model: user, local: true,
              html: { name: 'user_form', class: 'user-form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <% if user.persisted? %>
    <div class="field disabled">
      <%= field_label_and_message form, :email, 'Locked' %>
      <%= form.email_field :email, id: :user_email, disabled: true %>
    </div>

    <div class="field disabled">
      <%= field_label_and_message form, :employee_type, 'Locked' %>
      <%= form.text_field :employee_type,
                          id: :user_employee_type, disabled: true %>
    </div>
  <% else %>
    <%= form.hidden_field :employee_type %>

    <div class="field">
      <%= required_field_label form, :email %>
      <%= form.email_field :email, id: :user_email %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
