<%= form_with(model: user, local: true,
              html: { id: 'user-form', class: 'user-form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <% unless user.persisted? %>
    <%= form.hidden_field :employee_type %>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, required: 'required' %>
      <span class="field-error">Email is required</span>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, required: 'required' %>
    <span class="field-error">Name is required</span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
