<%= form_with(model: user, local: true,
              html: { name: 'user_form', class: 'user-form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <% unless user.persisted? %>
    <%= form.hidden_field :employee_type %>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, id: :user_email %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
