<div id="user-<%= user.id %>" class="user">
  <div class="user-name-and-email">
    <h3 class="user-name">
      <%= link_to user.name, user %>
    </h3>

    <p class="user-email">
      <code><%= user.email %></code>
    </p>
  </div>

  <p class="user-links">
    <%= link_to 'Delete',
                user,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'button button-outline destroy-button' %>
    <%= link_to 'Edit', edit_user_path(user), class: 'button button' %>
  </p>
</div>
