<div id="user-<%= user.id %>" class="user">
  <div class="user-name-and-email">
    <h3 class="user-name">
      <%= link_to_if policy(user).show?, user.name, user %>
    </h3>

    <p class="user-email">
      <code><%= user.email %></code>
    </p>
  </div>

  <p class="user-links">
    <% if policy(user).destroy? %>
      <%= link_to 'Delete',
                  user,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
    <% if policy(user).edit? %>
      <%= link_to 'Edit', edit_user_path(user), class: 'button button-outline' %>
    <% end %>
  </p>
</div>
