<%= user_header @user %>

<h2>
  Edit
    <% if @user == current_user %>
      Profile
    <% elsif @user.employee_type.blank? %>
      User
    <% else %>
      <%= @user.employee_type %>
    <% end %>
</h2>

<%= render 'form', user: @user %>

<p><%= link_to 'Back', :back %></p>

<%= content_for :sidebar do %>
  <%- if respond_to?(:edit_user_registration_path) %>
    <h3>Advanced Settings</h3>
    <%= content_tag :p, link_to('Change your password',
                                edit_user_registration_path) %>
  <% end %>
<% end %>
