<%= user_inner_header @user, 'Account Settings' %>

<div class="columns">
  <div class="column">
    <div id="name" class="user-form-group">
      <h2>Update Name</h2>

      <%= render 'form', user: @user %>
    </div>

    <div id="connections" class="user-form-group">
      <h2>Connections</h2>

      <h3><%= image_tag 'github-logo.svg', alt: 'GitHub' %></h3>
      <p>
        With a GitHub connection, you can log in using your GitHub acccount.
        In addition, it makes it possible to use repo commit message callouts.
      </p>

      <% if @user.github_id.present? %>
        <%
          confirm = 'Are you sure you want to remove the GitHub connection '\
                    "for #{@user.github_username}?"
        %>

        <div class="github-account">
          <%= image_tag 'github-mark.svg',
                        class: 'github-account-image' %>
          <%= link_to @user.github_username,
                      "https://github.com/#{@user.github_username}",
                      target: 'remote',
                      class: 'github-account-name' %>
          <%= link_to "\u2716", 'javascript:void(0)',
                      class: "close-link remove-connection-link",
                      title: 'Remove GitHub connection',
                      data: { confirm: confirm } %>
        </div>
      <% else %>
        <%= link_to 'Connect GitHub',
                    user_github_omniauth_authorize_path,
                    class: 'button button-outline' %>
      <% end %>
    </div>
  </div>

  <div class="column nav-column">
    <h5>Navigation</h5>
    <%= user_side_nav(@user) %>
  </div>
</div>
