<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<h2>Reviewers</h2>
<div class="users reviewers">
  <%= render @reviewers %>

  <div class="user new-user">
    <%= link_to 'New Reviewer', new_user_path(employee_type: 'Reviewer') %>
  </div>
</div>

<h2>Workers</h2>
<div class="users workers">
  <%= render @workers %>

  <div class="user new-user">
    <%= link_to 'New Worker', new_user_path(employee_type: 'Worker') %>
  </div>
</div>

<h2>Reporters</h2>
<div class="users reporters">
  <%= render @reporters %>

  <div class="user new-user">
    <%= link_to 'New Reporter', new_user_path(employee_type: 'Reporter') %>
  </div>
</div>
