<h1>Employees</h1>

<header class="users-header">
  <h2 class="users-heading">Reviewers</h2>

  <p>
    <%= link_to 'Add Reviewer', new_user_path(employee_type: 'Reviewer'),
                class: 'button button-success' %>
  </p>
</header>

<div class="users reviewers">
  <% if @reviewers.any? %>
    <%= render @reviewers %>
  <% else %>
    <p class="no-user">none</p>
  <% end %>
</div>

<header class="users-header">
  <h2 class="users-heading">Workers</h2>

  <p class="user new-user">
    <%= link_to 'New Worker', new_user_path(employee_type: 'Worker'),
                class: 'button button-success' %>
  </p>
</header>

<div class="users workers">
  <% if @workers.any? %>
    <%= render @workers %>
  <% else %>
    <p class="no-user">none</p>
  <% end %>
</div>

<header class="users-header">
  <h2 class="users-heading">Reporters</h2>

  <div class="user new-user">
    <%= link_to 'New Reporter', new_user_path(employee_type: 'Reporter'),
                class: 'button button-success' %>
  </div>
</header>

<div class="users reporters">
  <% if @reporters.any? %>
    <%= render @reporters %>
  <% else %>
    <p class="no-user">none</p>
  <% end %>
</div>
