<div id="user-detail-<%= @user.id %>" class="user-detail">
  <%= user_header @user %>

  <p class="user-links">
    <% if can?(:destroy, @user) %>
      <%= link_to 'Delete',
                  @user,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'button button-outline destroy-button' %>
    <% end %>
  </p>

  <% if @user.active_assignments.any? %>
    <div class="user-assignments">
      <header class="tasks-header">
        <h2>Assigned Tasks</h2>
        <p>
          <%= link_to 'View All Assigned Tasks',
                      user_assignments_path(@user),
                      class: 'button' %>
        </p>
      </header>
      <div class="tasks">
        <%= render @user.active_assignments %>
      </div>
    </div>
  <% end %>

  <% if @user.open_tasks.any? %>
    <div class="user-tasks">
      <header class="tasks-header">
        <h2>Open Tasks</h2>
        <p>
          <%= link_to 'View All Created Tasks', user_tasks_path(@user),
                      class: 'button' %>
        </p>
      </header>
      <div class="tasks">
        <%= render @user.open_tasks %>
      </div>
    </div>
  <% end %>

  <% if @user.unresolved_issues.any? %>
    <div class="user-issues">
      <header class="issues-header">
        <h2>Unresolved Issues</h2>
        <p>
          <%= link_to 'View All Reported Issues', user_issues_path(@user),
                      class: 'button' %>
        </p>
      </header>
      <div class="issues">
        <%= render @user.unresolved_issues %>
      </div>
    </div>
  <% end %>
</div>
