<div id="user-detail-<%= @user.id %>" class="user-detail">
  <%= breadcrumbs([['Users', users_path]]) %>

  <h1 class="user-name">
    <%= @user.name %>
  </h1>

  <p class="user-email">
    <code><%= @user.email %></code>
  </p>

  <p class=user-links>
    <% if policy(@user).edit? %>
      <%= link_to 'Edit', edit_user_path(@user),
                  class: 'button button' %>
    <% end %>
    <% if policy(@user).destroy? %>
      <%= link_to 'Delete',
                  @user,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'button button-outline destroy-button' %>
    <% end %>
  </p>

  <div class="user-tasks">
    <header class="tasks-header">
      <h2>Recent Tasks</h2>
      <p>
        <%= link_to 'View User Tasks', '#user_tasks_path(@user)',
                    class: 'button' %>
      </p>
    </header>
    <div class="tasks">
      <% if @tasks.any? %>
        <%= render @tasks %>
      <% else %>
        <p class="no-task">None yet</p>
      <% end %>
    </div>
  </div>

  <div class="user-issues">
    <header class="issues-header">
      <h2>Reported Issues</h2>
      <p>
        <%= link_to 'View User Issues', '#user_issues_path(@user)',
                    class: 'button' %>
      </p>
    </header>
    <div class="issues">
      <% if @issues.any? %>
        <%= render @issues %>
      <% else %>
        <p class="no-issue">None yet</p>
      <% end %>
    </div>
  </div>

  <p><%= link_to 'Back', :back %></p>
</div>
