<%
  url =
    if issue_comment.persisted?
      issue_issue_comment_url(issue, issue_comment)
    else
      issue_issue_comments_url(issue)
    end
  remote = false if remote.nil?
  autofocus = !issue_comment.persisted? if autofocus.nil?
%>

<%= form_with(model: issue_comment, url: url, local: !remote,
              html: { name: 'issue_comment_form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :body %>
    <%= form.text_area :body, id: "issue_comment_body_#{issue_comment.id}",
                       data: { autofocus: autofocus }  %>
  </div>

  <div class="actions">
    <%= form.submit comment_button_text(issue_comment),
                    class: 'button' %>

    <% if remote %>
      <% if issue_comment.persisted? %>
        <%= link_to 'reset', issue_issue_comment_path(issue, issue_comment),
                    id: 'comment_reset_link',
                    remote: remote %>
      <% else %>
        <%= link_to 'reset', issue_path(issue),
                    id: 'comment_reset_link',
                    remote: remote %>
      <% end %>
    <% end %>
  </div>
<% end %>
