<%
  url =
    if issue_comment.persisted?
      issue_comment_url(issue_comment)
    else
      issue_issue_comments_url(issue)
    end
%>

<%= form_with(model: issue_comment, url: url, local: true,
              html: { name: 'issue_comment_form', novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :body %>
    <%= form.text_area :body, id: :issue_comment_body %>
  </div>

  <div class="actions">
    <%= form.submit comment_button_text(issue_comment),
                    class: 'button button-success' %>
  </div>
<% end %>
