<%
progressions = assignee.progressions.where('progressions.task_id = ?', task.id)
progress = assignee.task_progress(task)
current_assignee = false if current_assignee.nil?
%>

<li id="assignee-<%= assignee.id %>" class="assignee">
  <%= assignee.name_or_email %>

  <% if progressions.unfinished.any? %>
    <%= divider %>
    <%= render partial: 'shared/progression',
               collection: progressions.unfinished,
               locals: { task: task } %>
  <% elsif task.assigned? %>
    <%= divider %>
    <%= link_to 'start',
                task_progressions_path(task, progression: { user_id: assignee.id }),
                method: :post, class: 'create-link' %>
  <% end %>

  <% if progress.present? %>
    <br>
    progress made: <%= progress %>
  <% end %>
</li>
