<span id="progression_<%= progression.id %>" class="progression">
  <% if progression.finished? %>
    <%= format_date(progression.created_at) %> - <%= format_date(progression.updated_at) %>
  <% else %>
    <%# TODO: current user %>
    <%= link_to 'pause',
                finish_task_progression_path(task, progression),
                method: :patch, class: 'destroy-link' %>
  <% end %>

  <%# TODO: current user %>
  <%= divider %>
  <%= link_to 'complete',
              task_reviews_path(task, review: { user_id: task.user_id }),
              method: :post %>

  <%# TODO: admin %>
  <%= divider %>
  <%= link_to 'delete', task_progression_path(task, progression),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: 'secondary-link' %>
</span>
