<div class="field">
  <%= label_tag :status %>

  <div id="task_status_labels" class="task-filter-options">
    <%= label_tag :status_all,
                  class: roller_radio_button_label_class('blue') do %>
      <%= radio_button_tag :status, :all,
                           (params[:status].blank? ||
                             params[:status] == 'all') %>
      All
    <% end %>

    <%= label_tag :status_open,
                  class: roller_radio_button_label_class('green') do %>
      <%= radio_button_tag :status, :open, params[:status] == 'open' %>
      Open
    <% end %>

    <%= label_tag :status_unassigned,
                  class: roller_radio_button_label_class('default') do %>
      <%= radio_button_tag :status, :unassigned, params[:status] == 'unassigned' %>
      Unassigned
    <% end %>

    <%= label_tag :status_assigned,
                  class: roller_radio_button_label_class('purple') do %>
      <%= radio_button_tag :status, :assigned, params[:status] == 'assigned' %>
      Assigned
    <% end %>

    <%= label_tag :status_in_progress,
                  class: roller_radio_button_label_class('brown') do %>
      <%= radio_button_tag :status, :in_progress, params[:status] == 'in_progress' %>
      In Progress
    <% end %>

    <%= label_tag :status_in_review,
                  class: roller_radio_button_label_class('purple') do %>
      <%= radio_button_tag :status, :in_review, params[:status] == 'in_review' %>
      In Review
    <% end %>

    <%= label_tag :status_closed,
                  class: roller_radio_button_label_class('red') do %>
      <%= radio_button_tag :status, :closed, params[:status] == 'closed' %>
      Closed
    <% end %>
  </div>
</div>
