<% current_review = task.current_review %>

<dt id="task-<%= task.id %>" class="task">
  <%= task_type_icon_tag(task.task_type) %>
  <span class="task-summary">
    <%= link_to task.short_summary,
                category_project_task_path(category, project, task) %>
  </span>
</dt>

<dd id="task-status-<%= task.id %>" class="task-status">
  status:
  <%= content_tag :strong, task.status, class: 'task-status' %>

  <% if task.closed? && current_review && !current_review.pending? %>
    (<%= content_tag :span,
                    format_date(current_review.updated_at),
                    class: 'review-date' %>)
  <% end %>
</dd>
