<p class="task" id="task-<%= task.id %>">
  <%= task_type_icon_tag(task.task_type) %>
  <%= link_to task.id_and_summary, task_path(task) %>

  <%= divider %>
  <%= content_tag :strong, task.status,
                  class: 'task-status' %>
</p>
