<% show_status = true if show_status.nil? %>

<p class="task" id="task-<%= task.id %>">
  <%= task_type_icon_tag(task.task_type) %>
  <%= link_to_if can?(:read, task),
                 task.id_and_summary, task_path(task) %>

  <% if show_status %>
    <%= divider %>
    <%= content_tag :strong, task.status.titleize,
                    class: 'task-status' %>
  <% end %>
</p>
