<%
  # TODO: allow to edit comment in place
  # load form partial with ajax
  # TODO: allow destroy comment with ajax
  url =
    if task_comment.persisted?
      category_project_task_task_comment_url(category, project, task, task_comment)
    else
      category_project_task_task_comments_url(category, project, task)
    end
  options =
    options_from_collection_for_select(User.all, :id, :name_or_email, task_comment.user_id)
%>

<%= form_with(model: task_comment, url: url, local: true,
              html: { name: 'task_comment_form', novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <%# TODO: remove after adding authentication, should be current user %>
  <div class="field">
    <%= form.label :user_id, 'Author' %>
    <%= form.select :user_id, options, {}, id: :task_comment_user_id %>
  </div>

  <div class="field">
    <%= required_field_label form, :body %>
    <%= form.text_area :body, id: :task_comment_body  %>
  </div>

  <div class="actions">
    <%= form.submit comment_button_text(task_comment),
                    class: 'button button-success' %>
  </div>
<% end %>
