<%
  url =
    if task_comment.persisted?
      task_task_comment_url(task, task_comment)
    else
      task_task_comments_url(task)
    end
  remote = false if remote.nil?
%>

<%= form_with(model: task_comment, url: url, local: true,
              data: { remote: remote },
              html: { name: 'task_comment_form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :body %>
    <%= form.text_area :body, id: :task_comment_body  %>
  </div>

  <div class="actions">
    <%= form.submit comment_button_text(task_comment),
                    class: 'button' %>

    <% if remote %>
      <% if task_comment.persisted? %>
        <%= link_to 'reset', task_task_comment_path(task, task_comment),
                    id: 'comment_reset_link',
                    remote: remote %>
      <% else %>
        <%= link_to 'reset', task_path(task),
                    id: 'comment_reset_link',
                    remote: remote %>
      <% end %>
    <% end %>
  </div>
<% end %>
