<%= task_header(@task) %>

<h2>Edit Comment</h2>

<p>
by <%= content_tag :strong, @task_comment.user.name_or_email %>
on <%= content_tag :span, formatted_dates(@task_comment) %>
</p>

<%= render 'form', task: @task,
                   task_comment: @task_comment %>

<p><%= link_to 'Back', :back %></p>
