<%= task_header(@task) %>

<h2>
  Comment from
  <span class="comment-user"><%= @task_comment.user ? @task_comment.user.name_or_email : User.destroyed_name %></span>
</h2>

<p>
  <strong class="comment-dates"><%= formatted_dates @task_comment %></strong>
</p>

<%= content_tag :div, @task_comment.body_html.html_safe,
                class: 'comment-body' %>

<p>
  <% if can?(:update, @task_comment) %>
    <%= link_to 'edit',
                edit_task_task_comment_path(@task, @task_comment) %>
  <% end %>

  <% if can?(:destroy, @task_comment) %>
    <%= divider %>
    <%= link_to 'delete',
                task_task_comment_path(@task, @task_comment),
                method: :delete, class: 'destroy-link',
                data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
