<%= form_with(model: user, url: promote_user_path(user),
              local: true, method: :patch,
              html: { name: 'user_form', class: 'user-form',
                      novalidate: 'novalidate' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= form.label :employee_type %>
    <%= form.select :employee_type, User::VALID_EMPLOYEE_TYPES %>
  </div>

  <div class="actions">
    <%= form.submit "Change #{user.employee_type}" %>
  </div>
<% end %>
