<%
  url =
    if project.persisted?
      category_project_path(category, project)
    else
      category_projects_path(category)
    end
%>

<%= form_with(model: project, url: url, local: true) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible, id: :project_visible %>
  </div>

  <div class="field">
    <%= form.label :internal %>
    <%= form.check_box :internal, id: :project_internal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
