<%
  url =
    if project.persisted?
      project_path(project)
    else
      category_projects_path(category)
    end
%>

<%= form_with(model: project, url: url, local: true,
              html: { name: 'project_form' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all,
                               :id, :name_and_tag,
                               id: :project_category_id %>
  </div>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, id: :project_name,
                               autofocus: true %>
  </div>

  <div class="field">
    <div class="check-box-buttons">
      <%= label_tag 'project_visible_true', class: 'radio-button-label' do %>
        <%= form.radio_button :visible, true, id: 'project_visible_true' %>
        Visible
      <% end %>

      <%= label_tag 'project_visible_false', class: 'radio-button-label' do %>
        <%= form.radio_button :visible, false, id: 'project_visible_false' %>
        Archived
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="check-box-buttons">
      <%= label_tag 'project_internal_false', class: 'radio-button-label' do %>
        <%= form.radio_button :internal, false, id: 'project_internal_false' %>
        External
      <% end %>

      <%= label_tag 'project_internal_true', class: 'radio-button-label' do %>
        <%= form.radio_button :internal, true, id: 'project_internal_true' %>
        Internal
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
