<%
  url =
    if project.persisted?
      project_path(project)
    else
      category_projects_path(category)
    end
%>

<%= form_with(model: project, url: url, local: true,
              html: { name: 'project_form' }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all,
                               :id, :name_and_tag,
                               id: :project_category_id %>
  </div>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, id: :project_name,
                               autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :visible, for: :project_visible %>
    <%= form.check_box :visible, id: :project_visible %>
  </div>

  <div class="field">
    <%= form.label :internal, for: :project_internal %>
    <%= form.check_box :internal, id: :project_internal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
