<%
issue_subscription =
  project.issues_subscription(current_user, init: true)
task_subscription =
  project.tasks_subscription(current_user, init: true)
%>

<div id="project-<%= project.id %>" class="project">
  <%
    category = project.category
    unless category
      return content_tag(:p, content_tag(:code, 'App Error: No Category'))
    end
  %>

  <div class="project-name-and-tags">
    <h3 class="project-name">
      <%= link_to_if can?(:read, project),
                     project.name, project_path(project) %>
    </h3>

    <%= project_tags(project) %>
  </div>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if can?(:read, project.category),
                     project.category.name, project.category %>
    </p>
  <% end %>

  <div class="project-counts">
    <%# TODO: change to open issues %>
    <p class="project-issues-link">
      <%= link_to_if can?(:read, Issue),
                     pluralize(project.issues.count, 'Issue'),
                     project_issues_path(project) %>
    </p>

    <%# TODO: change to open tasks %>
    <p class="project-tasks-link">
      <%= link_to_if can?(:read, Task),
                     pluralize(project.tasks.count, 'Task'),
                     project_tasks_path(project) %>
    </p>
  </div>

  <p class="project-links">
    <%= render issue_subscription, project: project %>
    <%= render task_subscription, project: project %>

    <% if can?(:destroy, project) %>
      <%= link_to 'Delete',
                  project_path(project),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
    <% if can?(:update, project) %>
      <%= link_to 'Edit', edit_project_path(project),
                  class: 'button button-outline' %>
    <% end %>
  </p>
</div>
