<%
category = project.category
unless category
  return content_tag(:p, content_tag(:code, 'App Error: No Category'))
end

issues =
  if project.totally_visible?
    project.issues.all_visible
  else
    project.issues
  end
issues_count = issues.count
open_issues_count = issues.all_open.count
being_worked_on_issues_count = issues.all_being_worked_on.count
closed_issues_count = issues.all_closed.count

tasks =
  if project.totally_visible?
    project.tasks.all_visible
  else
    project.tasks
  end
tasks_count = tasks.count
open_tasks_count = tasks.all_open.count
in_progress_tasks_count = tasks.all_in_progress.count
assigned_tasks_count = tasks.all_assigned.count
in_review_tasks_count = tasks.all_in_review.count
closed_tasks_count = tasks.all_closed.count

issues_subscription =
  project.project_issues_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
tasks_subscription =
  project.project_tasks_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
%>

<div id="project-<%= project.id %>" class="project">
  <% unless category_page?(category) %>
    <%= breadcrumbs [[category.name, category_path(category)]] %>
  <% end %>

  <h3 class="project-name">
    <%= link_to_if can?(:read, project),
                   project.name, project_path(project) %>
  </h3>

  <p class="project-tags"><%= project_invisible_tag(project) %><%= internal_tag(project) %></p>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if can?(:read, project.category),
                     project.category.name, project.category %>
    </p>
  <% end %>

  <div class="accordion project-accordion">
    <div class="accordion-menu">
      <%= link_to "#project-issues-#{project.id}",
                  class: "stat active",
                  data: { content_name: "project_issues_content" } do %>
        <%= content_tag :span, issues_count, class: 'stat-number' %>
        <%= content_tag :span, 'Issue'.pluralize(issues_count),
                        class: 'stat-name' %>
      <% end %>

      <%= link_to "#project-tasks-#{project.id}",
                  class: "stat",
                  data: { content_name: "project_tasks_content" } do %>
        <%= content_tag :span, tasks_count, class: 'stat-number' %>
        <%= content_tag :span, 'Task'.pluralize(tasks_count),
                        class: 'stat-name' %>
      <% end %>
    </div>

    <div class="accordion-contents">
      <div name="project_issues_content" class="accordion-content active">
        <% if issues_count > 0 %>
          <p class="project-stats">
            <%= link_to project_issues_path(project, issue_status: 'open'),
                        class: "stat green-link" do %>
              <%= content_tag :span, open_issues_count, class: 'stat-number' %>
              <%= content_tag :span, 'Open', class: 'stat-name' %>
            <% end %>

            <%= link_to project_issues_path(project, issue_status: 'being_worked_on'),
                        class: "stat yellow-link" do %>
              <%= content_tag :span, being_worked_on_issues_count, class: 'stat-number' %>
              <%= content_tag :span, 'Working On', class: 'stat-name' %>
            <% end %>

            <%= link_to project_issues_path(project, issue_status: 'closed'),
                        class: "stat red-link" do %>
              <%= content_tag :span, closed_issues_count, class: 'stat-number' %>
              <%= content_tag :span, 'Closed', class: 'stat-name' %>
            <% end %>
          </p>

          <p>
            <%= link_to_if can?(:read, project),
                           'View All Issues',
                           project_issues_path(project),
                           class: 'button button-clear' %>
          </p>
        <% else %>
          <p>
            <%= link_to_if can?(:read, project),
                           'Visit Issues',
                           project_tasks_path(project),
                           class: 'button button-clear' %>
          </p>
        <% end %>

        <%= render issues_subscription %>
      </div>

      <div name="project_tasks_content" class="accordion-content">
        <% if tasks_count > 0 %>
          <p class="project-stats">
            <%= link_to project_tasks_path(project, task_status: 'open'),
                        class: "stat green-link" do %>
              <%= content_tag :span, open_tasks_count, class: 'stat-number' %>
              <%= content_tag :span, 'Open', class: 'stat-name' %>
            <% end %>

            <%= link_to project_tasks_path(project, task_status: 'assigned'),
                        class: "stat blue-link" do %>
              <%= content_tag :span, assigned_tasks_count, class: 'stat-number' %>
              <%= content_tag :span, 'Assigned', class: 'stat-name' %>
            <% end %>

            <%= link_to project_tasks_path(project, task_status: 'in_progress'),
                        class: "stat yellow-link" do %>
              <%= content_tag :span, in_progress_tasks_count, class: 'stat-number' %>
              <%= content_tag :span, 'Progress', class: 'stat-name' %>
            <% end %>

            <%= link_to project_tasks_path(project, task_status: 'in_review'),
                        class: "stat purple-link" do %>
              <%= content_tag :span, in_review_tasks_count, class: 'stat-number' %>
              <%= content_tag :span, 'Review', class: 'stat-name' %>
            <% end %>

            <%= link_to project_tasks_path(project, task_status: 'closed'),
                        class: "stat red-link" do %>
              <%= content_tag :span, closed_tasks_count, class: 'stat-number' %>
              <%= content_tag :span, 'Closed', class: 'stat-name' %>
            <% end %>
          </p>

          <p>
            <%= link_to_if can?(:read, project),
                           'View All Tasks',
                           project_tasks_path(project),
                           class: 'button button-clear' %>
          </p>
        <% else %>

          <p>
            <%= link_to_if can?(:read, project),
                           'Visit Tasks',
                           project_tasks_path(project),
                           class: 'button button-clear' %>
          </p>
        <% end %>

        <%= render tasks_subscription %>
      </div>
    </div>
  </div>

  <div class="project-buttons">
    <% if can?(:update, project) %>
      <%= link_to 'Edit', edit_project_path(project),
                  class: 'button button-outline' %>
    <% end %>
    <% if can?(:destroy, project) %>
      <%= link_to 'Delete',
                  project_path(project),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
  </div>
</div>
