<%
category = project.category
unless category
  return content_tag(:p, content_tag(:code, 'App Error: No Category'))
end

issues_count =
  if project.totally_visible?
    project.issues.all_visible.count
  else
    project.issues.count
  end
tasks_count =
  if project.totally_visible?
    project.tasks.all_visible.count
  else
    project.tasks.count
  end
issue_subscription =
  project.project_issues_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
task_subscription =
  project.project_tasks_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
%>

<div id="project-<%= project.id %>" class="project">
  <% unless category_page?(category) %>
    <%= breadcrumbs [[category.name, category_projects_path(category)]] %>
  <% end %>

  <h3 class="project-name">
    <%= link_to_if can?(:read, project),
                   project.name, project_path(project) %>
  </h3>

  <p class="project-tags"><%= project_invisible_tag(project) %><%= internal_tag(project) %></p>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if can?(:read, project.category),
                     project.category.name, project.category %>
    </p>
  <% end %>

  <div class="project-counts">
    <%= link_to_if can?(:read, Issue),
                   pluralize(issues_count, 'Issue'),
                   project_issues_path(project) %>
    <%= divider %>
    <%= link_to_if can?(:read, Task),
                   pluralize(tasks_count, 'Task'),
                   project_tasks_path(project) %>
  </div>

  <div class="project-links">
    <% if can?(:update, project) %>
      <%= link_to 'Edit', edit_project_path(project),
                  class: 'button button-clear' %>
    <% end %>
    <% if can?(:destroy, project) %>
      <%= link_to 'Delete',
                  project_path(project),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-clear button-warning' %>
    <% end %>
  </div>

  <p class="subscription-links">
    <%= render issue_subscription %>
    <%= render task_subscription %>
  </p>
</div>
