<div id="project-<%= project.id %>" class="project">
  <%
    category = project.category
    unless category
      return content_tag(:p, content_tag(:code, 'App Error: No Category'))
    end
  %>

  <div class="project-name-and-tags">
    <h3 class="project-name">
      <%= link_to_if policy(project).show?, project.name,
                     category_project_path(category, project) %>
    </h3>

    <%= project_tags(project) %>
  </div>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if policy(project.category).show?,
                     project.category.name,
                     project.category %>
    </p>
  <% end %>

  <div class="project-counts">
    <%# TODO: change to open issues %>
    <p class="project-issues-link">
      <%= link_to_if policy(Issue).index?,
                     pluralize(project.issues.count, 'Issue'),
                     project_issues_path(project) %>
    </p>

    <%# TODO: change to open tasks %>
    <p class="project-tasks-link">
      <%= link_to_if policy(Task).index?,
                     pluralize(project.tasks.count, 'Task'),
                     project_tasks_path(project) %>
    </p>
  </div>

  <p class="project-links">
    <% if policy(project).destroy? %>
      <%= link_to 'Delete', category_project_path(category, project),
                             method: :delete, data: { confirm: 'Are you sure?' },
                             class: 'button button-outline button-warning' %>
    <% end %>
    <% if policy(project).edit? %>
      <%= link_to 'Edit', edit_category_project_path(category, project),
                  class: 'button button-outline' %>
    <% end %>
  </p>
</div>
