<div id="project-<%= project.id %>" class="project">
  <%
    category = project.category
    return content_tag(:code, 'ERROR: No Category') unless category
  %>

  <h3><%= project.name %></h3>
  <p><%= project.visible %></p>
  <p><%= project.internal %></p>
  <p><%= project.category.name %></p>
  <p><%= link_to 'Show', category_project_path(category, project) %></p>
  <p><%= link_to 'Edit', edit_category_project_path(category, project) %></p>
  <p><%= link_to 'Destroy', category_project_path(category, project), method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
