<%
category = project.category
unless category
  return content_tag(:p, content_tag(:code, 'App Error: No Category'))
end

issue_subscription =
  project.issues_subscription(current_user, init: true)
task_subscription =
  project.tasks_subscription(current_user, init: true)
issues_count =
  if project.totally_visible?
    project.issues.all_visible.count
  else
    project.issues.count
  end
tasks_count =
  if project.totally_visible?
    project.tasks.all_visible.count
  else
    project.tasks.count
  end
%>

<div id="project-<%= project.id %>" class="project">
  <header class="project-name-and-tags">
    <% unless category_page?(category) %>
      <%= breadcrumbs [[category.name, category_projects_path(category)]] %>
    <% end %>

    <h3 class="project-name">
      <%= link_to_if can?(:read, project),
                     project.name, project_path(project) %>
    </h3>

    <p class="project-tags">
      <%= project_invisible_tag(project) %><%= internal_tag(project) %>
    </p>
  </header>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if can?(:read, project.category),
                     project.category.name, project.category %>
    </p>
  <% end %>

  <div class="project-counts">
    <p class="project-issues-link">
      <%= link_to_if can?(:read, Issue),
                     pluralize(issues_count, 'Issue'),
                     project_issues_path(project) %>
    </p>

    <p class="project-tasks-link">
      <%= link_to_if can?(:read, Task),
                     pluralize(tasks_count, 'Task'),
                     project_tasks_path(project) %>
    </p>
  </div>

  <p class="project-links">
    <%= render issue_subscription, project: project %>
    <%= render task_subscription, project: project %>

    <% if can?(:destroy, project) %>
      <%= link_to 'Delete',
                  project_path(project),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
    <% if can?(:update, project) %>
      <%= link_to 'Edit', edit_project_path(project),
                  class: 'button button-outline' %>
    <% end %>
  </p>
</div>
