<div id="project-<%= project.id %>" class="project">
  <%
    category = project.category
    return content_tag(:code, 'ERROR: No Category') unless category
  %>

  <div class="project-name-and-tags">
    <h3><%= link_to project.name, category_project_path(category, project) %></h3>
    <%= project_tags(project) %>
  </div>

  <p class="project category">
    <%= link_to project.category.name, project.category %>
  </p>

  <p class="project-links">
    <%= link_to 'Delete', category_project_path(category, project),
                           method: :delete, data: { confirm: 'Are you sure?' },
                           class: 'button button-outline button-warning' %>
    <%= link_to 'Edit', edit_category_project_path(category, project),
                class: 'button' %>
  </p>
</div>
