<%
category = project.category
unless category
  return content_tag(:p, content_tag(:code, 'App Error: No Category'))
end

issues_count =
  if project.totally_visible?
    project.issues.all_visible.count
  else
    project.issues.count
  end
tasks_count =
  if project.totally_visible?
    project.tasks.all_visible.count
  else
    project.tasks.count
  end
issues_subscription =
  project.project_issues_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
tasks_subscription =
  project.project_tasks_subscriptions
          .find_or_initialize_by(user_id: current_user.id)
%>

<div id="project-<%= project.id %>" class="project">
  <% unless category_page?(category) %>
    <%= breadcrumbs [[category.name, category_path(category)]] %>
  <% end %>

  <h3 class="project-name">
    <%= link_to_if can?(:read, project),
                   project.name, project_path(project) %>
  </h3>

  <p class="project-tags"><%= project_invisible_tag(project) %><%= internal_tag(project) %></p>

  <% unless @category %>
    <p class="project-category">
      <%= link_to_if can?(:read, project.category),
                     project.category.name, project.category %>
    </p>
  <% end %>

  <div class="project-stats">
    <div class="project-stat-wrapper">
      <p class="project-stat project-issues-count">
        <%= content_tag :span, issues_count, class: 'project-stat-number' %>
        <%= link_to_if can?(:read, Issue),
                       'Issue'.pluralize(issues_count),
                       project_issues_path(project),
                       class: 'project-stat-name' %>
      </p>

      <% if issues_subscription.persisted? %>
        <% if can?(:destroy, issues_subscription) %>
          <div class="project-stat-content">
            <% url = project_issues_subscription_path(project,
                                                      issues_subscription) %>

            <%= link_to ' ', url,
                        method: :delete,
                        class: 'button button-success button-clear button-unsubscribe' %>
          </div>
        <% end %>
      <% elsif project&.category&.subscribed_to_issues?(current_user) %>
        <div class="project-stat-content">
          <%= link_to 'subscribed', 'javascript:void(0)',
                      class: 'button button-success button-clear button-disabled' %>
        </div>
      <% elsif can?(:create, issues_subscription) %>
        <div class="project-stat-content">
          <%= link_to 'auto-subscribe',
                      project_issues_subscriptions_path(project),
                      method: :post, class: 'button button-clear' %>
        </div>
      <% end %>
    </div>


    <div class="project-stat-wrapper">
      <p class="project-stat project-tasks-count">
        <%= content_tag :span, tasks_count, class: 'project-stat-number' %>
        <%= link_to_if can?(:read, Task),
                       'Task'.pluralize(tasks_count),
                       project_tasks_path(project),
                       class: 'project-stat-name' %>
      </p>

      <% if tasks_subscription.persisted? %>
        <% if can?(:destroy, tasks_subscription) %>
          <div class="project-stat-content">
            <% url = project_tasks_subscription_path(project,
                                                       tasks_subscription) %>

            <%= link_to ' ', url,
                        method: :delete,
                        class: 'button button-success button-clear button-unsubscribe' %>
          </div>
        <% end %>
      <% elsif project&.category&.subscribed_to_tasks?(current_user) %>
        <div class="project-stat-content">
          <%= link_to 'subscribed', 'javascript:void(0)',
                      class: 'button button-success button-clear button-disabled' %>
        </div>
      <% elsif can?(:create, tasks_subscription) %>
        <div class="project-stat-content">
          <%= link_to 'auto-subscribe',
                      project_tasks_subscriptions_path(project),
                      method: :post, class: 'button button-clear' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="project-buttons">
    <% if can?(:update, project) %>
      <%= link_to 'Edit', edit_project_path(project),
                  class: 'button button-outline' %>
    <% end %>
    <% if can?(:destroy, project) %>
      <%= link_to 'Delete',
                  project_path(project),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
  </div>
</div>
