<div id="project-<%= project.id %>" class="project">
  <%
    category = project.category
    unless category
      return content_tag(:p, content_tag(:code, 'App Error: No Category'))
    end
  %>

  <div class="project-name-and-tags">
    <h3 class="project-name">
      <%= link_to project.name, category_project_path(category, project) %>
    </h3>

    <%= project_tags(project) %>
  </div>

  <% unless @category %>
    <p class="project-category">
      <%= link_to project.category.name, project.category %>
    </p>
  <% end %>

  <p class="project-issues-link">
    <%# TODO: change to open issues %>
    <%= link_to pluralize(project.issues.count, 'Issue'),
                category_project_issues_path(project.category, project) %>
  </p>

  <p class="project-links">
    <%= link_to 'Delete', category_project_path(category, project),
                           method: :delete, data: { confirm: 'Are you sure?' },
                           class: 'button button-outline button-warning' %>
    <%= link_to 'Edit', edit_category_project_path(category, project),
                class: 'button button-outline' %>
  </p>
</div>
