<%= project_header @project %>

<% if policy(@project).edit? %>
  <p>
    <%= link_to 'Edit Project', edit_category_project_path(@category, @project),
                class: 'button' %>
  </p>
<% end %>

<% if policy(Task).create? %>
  <p>
    <%= link_to 'Build Task',
                new_category_project_task_path(@category, @project),
                class: 'button button-success' %>
  </p>
<% end %>

<% if policy(Issue).create? %>
  <p>
    <%= link_to 'Report Issue',
                new_category_project_issue_path(@category, @project),
                class: 'button button-warning' %>
  </p>
<% end %>

<header class="issues-header">
  <h2>Latest Issues</h2>
  <p>
    <%= link_to 'View Project Issues',
                category_project_issues_path(@category, @project),
                class: 'button' %>
  </p>
</header>
<div class="issues">
  <% if @issues.any? %>
    <%= render @issues %>
  <% else %>
    <p class="no-issue">None yet</p>
  <% end %>
</div>

<header class="tasks-header">
  <h2>Latest Tasks</h2>
  <p>
    <%= link_to 'View Project Tasks',
                category_project_tasks_path(@category, @project),
                class: 'button' %>
  </p>
</header>
<div class="tasks">
  <% if @tasks.any? %>
    <%= render @tasks %>
  <% else %>
    <p class="no-task">None yet</p>
  <% end %>
</div>
