<%= project_header @project %>

<% if can?(:update, @project) %>
  <p>
    <%= link_to 'Edit Project', edit_project_path(@project),
                class: 'button' %>
  </p>
<% end %>

<% if can?(:create, Task) %>
  <p>
    <%= link_to 'Build Task',
                new_project_task_path(@project),
                class: 'button button-success' %>
  </p>
<% end %>

<% if can?(:create, Issue) %>
  <p>
    <%= link_to 'Report Issue',
                new_project_issue_path(@project),
                class: 'button button-warning' %>
  </p>
<% end %>

<header class="issues-header">
  <h2>Latest Issues</h2>
  <p>
    <%= render @issue_subscription, project: @project %>
    <%= link_to 'View Project Issues',
                project_issues_path(@project), class: 'button' %>
  </p>
</header>
<div class="issues">
  <% if @issues.any? %>
    <%= render @issues %>
  <% else %>
    <p class="no-issue">None yet</p>
  <% end %>
</div>

<header class="tasks-header">
  <h2>Latest Tasks</h2>
  <p>
    <%= render @task_subscription, project: @project %>
    <%= link_to 'View Project Tasks',
                project_tasks_path(@project), class: 'button' %>
  </p>
</header>
<div class="tasks">
  <% if @tasks.any? %>
    <%= render @tasks %>
  <% else %>
    <p class="no-task">None yet</p>
  <% end %>
</div>
