<div id="progression_<%= progression.id %>" class="progression">
  <%= content_tag :h3, progression.user.name_or_email %>
  <p>
    Started:
    <%= progression.start_date %>
  </p>
  <p>
    <% if progression.finished? %>
      Finished:
      <%= progression.finish_date %>
    <% else %>
      In Progress
    <% end %>
  </p>

  <% if can?(:destroy, progression) %>
    <p>
      <%= divider %>
      <%= link_to 'delete',
                  task_progression_path(task, progression),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
