<div id="progression_<%= progression.id %>" class="progression">
  <%= content_tag :h3, progression.user.name_or_email %>
  <p>
    Started:
    <%= progression.start_date %>
  </p>
  <p>
    <% if progression.finished? %>
      Finished:
      <%= progression.finish_date %>
    <% else %>
      In Progress
    <% end %>
  </p>

  <% if policy(progression).edit? || policy(progression).destroy? %>
    <p>
      <% if policy(progression).edit? %>
        <%= link_to 'edit', edit_task_progression_path(task, progression) %>
      <% end %>
      <% if policy(progression).destroy? %>
        <%= divider %>
        <%= link_to 'delete',
                    task_progression_path(task, progression),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
</div>
