<%= enable_page_title 'Subscriptions' %>

<%= content_for :header do %>
  <h1>Issue & Task Subscriptions</h1>

  <%= root_nav %>
<% end %>

<div id="dashboard-<%= current_user.id %>" class="dashboard">
  <% if @subscriptions.any? || searching? %>
    <%= render 'shared/page_links', collection: @subscriptions %>
  <% end %>

  <div class="columns">
    <div class="first-column">
      <% if @subscriptions.any? || searching? %>
        <div class="issues tasks">
          <%= render @subscriptions %>
        </div>

        <%= render 'shared/simple_page_links',
                   collection: @subscriptions %>
      <% else %>
        <p class="no-task no-issue">None found</p>
      <% end %>
    </div>

    <div class="second-column">
      <div class="filters-wrapper">
        <div class="heading-and-link">
          <h3>Filters</h3>

          <% if searching? %>
            <%= link_to 'reset', root_path %>
          <% end %>
        </div>


        <%= form_tag root_path,
                     method: :get, class: "search-form",
                     id: "search_form" do %>
          <%= render 'shared/string_filter_field' %>
          <%= render 'searches/type_filter_field' %>
          <%= render 'shared/order_filter_field' %>

          <div class="actions">
            <%= submit_tag 'Filter' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
