<%= form_tag search_results_path,
             method: :get, class: "task-filter-form" do %>
  <%= render 'shared/string_filter_field' %>
  <%#= render 'tasks/status_filter_field' %>
  <%#= render 'tasks/type_filter_field' %>
  <%= render 'shared/order_filter_field' %>

  <% if searching? %>
    <p><%= link_to 'Reset', search_path %></p>
  <% end %>

  <div class="actions">
    <%= submit_tag 'Filter' %>
  </div>
<% end %>
