<%= search_header 'Results' %>

<% if @search_results.any? || searching? %>
  <%= render 'shared/page_links',
             collection: @search_results %>
<% end %>

<div class="columns">
  <div class="second-column">
    <div class="filters-wrapper">
      <div class="heading-and-link">
        <h3>Filters</h3>

        <% if searching? %>
          <%= link_to 'reset', search_path %>
        <% end %>
      </div>

      <%= render 'searches/form', results: @search_results %>
    </div>
  </div>

  <div class="first-column">
    <% if @search_results.any? || searching? %>
      <div class="issues tasks">
        <%= render @search_results %>
      </div>

      <%= render 'shared/simple_page_links',
                 collection: @search_results %>
    <% else %>
      <p class="no-task no-issue">None found</p>
    <% end %>
  </div>
</div>
