<%= user_header @user %>

<div class="columns">
  <div class="first-column">
    <%= content_tag :h2, "Change Account Type" %>

    <%= render 'form', user: @user %>

    <% if @user.employee? && can?(:cancel, @user) %>
      <div class="user-edit-links">
        <h2>Cancel Account</h2>

        <p>
          Clear <%= content_tag :strong, @user.name_or_email %>'s
          account type and disallow them from accessing the site:
        </p>

        <%
          confirm = "Are you sure you want to cancel the account "\
                    "for #{@user.name_or_email}?"
        %>
        <%= button_to "Cancel Account",
                      user_employee_type_path(@user),
                      method: :delete, data: { confirm: confirm },
                      class: 'button button-outline button-warning' %>

      </div>
    <% end %>
  </div>

  <div class="second-column"></div>

  <div class="second-column">
    <div class="devise-links">
      <h3>Helpful Links</h3>
      <%= content_tag :p, link_to("Change Name",
                      edit_user_path(@user)) %>
    </div>
  </div>
</div>

<p><%= link_to 'Back', :back %></p>
