<%= user_inner_header @user, 'User Account Level' %>

<div class="columns">
  <div class="column">
    <div id="employee" class="user-form-group">
      <%= content_tag :h2, "Change Account Level" %>

      <%= render 'form', user: @user %>
    </div>

    <% if @user.employee? && can?(:cancel, @user) %>
      <div id="cancel" class="user-form-group">
        <h2>Cancel Account</h2>

        <p>
          Clear <%= content_tag :strong, @user.name_or_email %>'s
          account type and disallow them from accessing the site:
        </p>

        <%
          confirm = "Are you sure you want to cancel the account "\
                    "for #{@user.name_or_email}?"
        %>
        <%= button_to "Cancel Account",
                      user_employee_type_path(@user),
                      method: :delete, data: { confirm: confirm },
                      class: 'button button-outline button-warning' %>

      </div>
    <% end %>
  </div>

  <div class="column nav-column">
    <%= user_side_nav(@user) %>
  </div>
</div>
