<h1>Issue Types</h1>

<% @issue_types.each do |issue_type| %>
  <div id="issue-type-<%= issue_type.id %>" class="issue-type">
    <p><%= issue_type_tag(issue_type) %></p>
    <p><%= link_to 'Edit', edit_issue_type_path(issue_type) %></p>
    <p><%= link_to 'Destroy', issue_type, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<p><%= link_to 'New Issue Type', new_issue_type_path %></p>

<hr>

<h1>Task Types</h1>

<% @task_types.each do |task_type| %>
  <div id="task-type-<%= task_type.id %>" class="task-type">
    <p><%#= task_type_tag(task_type) %></p>
    <p><%#= link_to 'Edit', edit_task_type_path(task_type) %></p>
    <p><%#= link_to 'Destroy', task_type, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </tr>
<% end %>

<p><%= link_to 'New Task Type', new_task_type_path %></p>
