<h1>Issue Types</h1>

<div class="issue-types">
  <% @issue_types.each do |issue_type| %>
    <div id="issue-type-<%= issue_type.id %>" class="issue-type">
      <p>
        <%= link_to edit_issue_type_path(issue_type) do %>
          <%= issue_type_tag(issue_type) %>
        <% end %>
      </p>
      <p>
        <%= link_to 'Remove', issue_type,
                    method: :delete, class: 'link-warning',
                    data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
</div>

<p><%= link_to 'New Issue Type', new_issue_type_path %></p>

<hr>

<h1>Task Types</h1>

<% @task_types.each do |task_type| %>
  <div id="task-type-<%= task_type.id %>" class="task-type">
    <p><%#= task_type_tag(task_type) %></p>
    <p><%#= link_to 'Edit', edit_task_type_path(task_type) %></p>
    <p><%#= link_to 'Destroy', task_type, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </tr>
<% end %>

<p><%= link_to 'New Task Type', new_task_type_path %></p>
