<blockquote id="comment-<%= comment.id %>" class="comment">
  <header>
    <p><span class="comment-user"><%= comment.user ? comment.user.name_or_email : User.destroyed_name %></span>:</p>
    <p class="comment-dates">
      <%= format_date comment.created_at %>
      <% if comment.created_at != comment.updated_at %>
      (ed. <%= format_date comment.updated_at %>)
      <% end %>
    </p>
  </header>
  <%# TODO: add markup support %>
  <main><%= content_tag :p, comment.body %></main>
  <footer>
    <p>
      <% if object.is_a?(Task) %>
        <%= link_to 'edit',
                    edit_category_project_task_task_comment_path(category,
                                                                 project, object,
                                                                 comment) %> |
        <%= link_to 'delete',
                    category_project_task_task_comment_path(category, project,
                                                            object, comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'edit',
                    edit_category_project_issue_issue_comment_path(category,
                                                                 project, object,
                                                                 comment) %> |
        <%= link_to 'delete',
                    category_project_issue_issue_comment_path(category, project,
                                                            object, comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </footer>
</blockquote>
