<blockquote id="comment-<%= comment.id %>" class="comment">
  <header>
    <p><span class="comment-user"><%= comment.user ? comment.user.name_or_email : User.destroyed_name %></span>:</p>
    <p class="comment-dates">
      <%= format_date comment.created_at %>
      <% if comment.created_at != comment.updated_at %>
      (ed. <%= format_date comment.updated_at %>)
      <% end %>
    </p>
  </header>
  <%= content_tag :main, comment.body_html.html_safe %>
  <footer>
    <p>
      <% if object.is_a?(Task) %>
        <%= link_to 'edit',
                    edit_task_task_comment_path(object, comment) %>
        <%= divider %>
        <%= link_to 'delete',
                    task_task_comment_path(object, comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% else %>
        <% if policy(comment).edit? %>
          <%= link_to 'edit',
                      edit_issue_issue_comment_path(object, comment) %>
        <% end %>
        <% if policy(comment).destroy? %>
          <%= divider %>
          <%= link_to 'delete',
                      issue_issue_comment_path(object, comment),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </p>
  </footer>
</blockquote>
