<%
issue_subscription =
  category.issues_subscription(current_user, init: true)
task_subscription =
  category.tasks_subscription(current_user, init: true)

projects_count =
  if category.visible?
    visible_projects(category).count
  else
    category.projects.count
  end
issues_count =
  if category.visible?
    visible_issues(category).count
  else
    category.issues.count
  end
tasks_count =
  if category.visible?
    visible_tasks(category).count
  else
    category.tasks.count
  end
%>

<div id="category-<%= category.id %>" class="category">
  <div class="category-name-and-tags">
    <h3 class="category-name">
      <%= link_to category.name, category_projects_path(category) %>
    </h3>
    <%= category_tags(category) %>
  </div>

  <div class="category-counts">
    <%= content_tag :p, pluralize(projects_count, 'Project'),
                        class: 'category-project-count' %>

    <p class="category-issues-link">
      <%= link_to_if can?(:read, Issue),
                     pluralize(issues_count, 'Issue'),
                     category_issues_path(category) %>
    </p>

    <p class="category-tasks-link">
      <%= link_to_if can?(:read, Task),
                     pluralize(tasks_count, 'Task'),
                     category_tasks_path(category) %>
    </p>
  </div>

  <p class="category-links">
    <%= render issue_subscription, category: category %>
    <%= render task_subscription, category: category %>

    <% if can?(:destroy, category) %>
      <%= link_to 'Delete', category_path(category),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'button button-outline button-warning' %>
    <% end %>
    <% if can?(:update, category) %>
      <%= link_to 'Edit', edit_category_path(category),
                  class: 'button button-outline' %>
    <% end %>
  </p>
</div>
