<%= form_with(model: category, local: true,
              html: { name: :category_form }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, id: :category_name,
                               autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible, id: :category_visible %>
  </div>

  <div class="field">
    <%= form.label :internal %>
    <%= form.check_box :internal, id: :category_internal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
