<%= form_with(model: category, local: true,
              html: { name: :category_form }) do |form| %>
  <%= form_errors(form.object) %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, id: :category_name,
                               autofocus: true %>
  </div>

  <div class="field">
    <div class="check-box-buttons">
      <%= label_tag 'category_visible_true', class: 'radio-button-label' do %>
        <%= form.radio_button :visible, true, id: 'category_visible_true' %>
        Visible
      <% end %>

      <%= label_tag 'category_visible_false', class: 'radio-button-label' do %>
        <%= form.radio_button :visible, false, id: 'category_visible_false' %>
        Archived
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="check-box-buttons">
      <%= label_tag 'category_internal_false', class: 'radio-button-label' do %>
        <%= form.radio_button :internal, false, id: 'category_internal_false' %>
        External
      <% end %>

      <%= label_tag 'category_internal_true', class: 'radio-button-label' do %>
        <%= form.radio_button :internal, true, id: 'category_internal_true' %>
        Internal
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
