<h1><%= @category.name %></h1>

<p><%= link_to 'Categories', categories_path %></p>

<p>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'New Project', new_category_project_path(@category, @project) %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @category.visible %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @category.internal %>
</p>
