<h1><%= @category.name %></h1>
<%= category_tags(@category) %>

<header class="category-projects-header">
  <h2>Projects</h2>
  <p>
    <%= link_to 'Add Project', new_category_project_path(@category),
                class: 'button button-success' %>
  </p>
  <p>
    <%= link_to 'Edit Category', edit_category_path(@category),
                class: 'button' %>
  </p>
</header>

<div class="category-projects">
  <% if @projects.any? %>
    <%= render @projects %>
  <% else %>
    <p>none</p>
  <% end %>
</div>
