<p id="review_<%= review.id %>" class="review">
  <% if review.pending? %>
    <%# TODO: reviewer+ %>
    <%= link_to 'approve',
                approve_task_review_path(task, review),
                method: :patch, class: 'create-link' %>
    <%= divider %>
    <%= link_to 'disapprove',
                disapprove_task_review_path(task, review),
                method: :patch, class: 'destroy-link' %>
  <% else %>
    <%= content_tag :strong, class: 'review-status' do %>
      <%= review.approved? ? 'approved' : 'disapproved' %>
    <% end %>
    <%= content_tag :span,
                    format_date(review.updated_at),
                    class: 'review-date' %>
    <br>
    by
    <%= content_tag :span,
                    review.user.name_or_email,
                    class: 'review-user' %>
  <% end %>

  <%# TODO: admin only %>
  <%= divider %>
  <%= link_to 'delete', task_review_path(task, review),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: 'secondary-link' %>
</span>
