<p id="review_<%= review.id %>" class="review">
  <% if review.approved? %>
    approved <%= format_date(review.updated_at) %>
  <% elsif review.disapproved? %>
    dispproved <%= format_date(review.updated_at) %>
  <% else %>
    <%= link_to 'approve',
                task_review_path(task, review, review: { approved: true }),
                method: :patch, class: 'create-link' %>
    <span class="divider">|</span>
    <%= link_to 'disapprove',
                task_review_path(task, review, review: { approved: false }),
                method: :patch, class: 'destroy-link' %>
  <% end %>

  <%# TODO: admin only %>
  <span class="divider">|</span>
  <%= link_to 'delete', task_review_path(task, review),
              method: :delete, data: { confirm: 'Are you sure?' },
              class: 'secondary-link' %>
</span>
