<header class="main-header">
  <div class="page">
    <div class="menu">
      <%= menu_link 'Dashboard', root_path %>
      <%= menu_link 'Users', users_path %>
      <%= menu_link 'Issue Types', roller_types_path %>
      <p>|</p>
      <%= menu_link 'Categories', categories_path %>
      <%= menu_link 'Projects', projects_path %>
    </div>

    <div class="app-name-and-logo">
      <p class="app-name">
        <%= link_to 'Task Roller', root_path %>
      </p>

      <p class="app-logo">
        <%= image_tag 'wheel.svg' %>
      </p>
    </div>
  </div>
</header>
