<header class="main-header">
  <div class="page">
    <% if current_user.present? %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.root_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>

      <div class="menu">
        <%= menu_link 'Dashboard', main_app.root_path %>
        <% if can?(:read, Category) %>
          <%= menu_link 'Categories', main_app.categories_path %>
        <% end %>
        <% if can?(:read, User) %>
          <%= menu_link 'Users', main_app.users_path %>
        <% end %>
        <% if can?(:read, IssueType) %>
          <p class="divider">|</p>
          <%= menu_link 'App Setup', main_app.issue_types_path %>
        <% end %>
      </div>

      <div class="user-link">
        <%= link_to user_path(current_user) do %>
          <%= content_tag :span, current_user.name_or_email %>
          <i class="icon-arrow-down"></i>
        <% end %>
      </div>

      <%= user_dropdown(current_user) %>
    <% else %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.new_user_session_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>
    <% end %>
  </div>
</header>
