<header class="main-header">
  <div class="page">

    <% if current_user.present? %>
      <div class="menu">
        <%= menu_link 'Dashboard', main_app.root_path %>
        <% if can?(:read, Category) %>
          <%= menu_link 'Categories', main_app.categories_path %>
        <% end %>
        <% if can?(:read, User) %>
          <%= menu_link 'Users', main_app.users_path %>
        <% end %>
        <% if can?(:read, IssueType) %>
          <p class="divider">|</p>
          <%= menu_link 'App Setup', main_app.issue_types_path %>
        <% end %>
      </div>
    <% end %>

    <div class="app-name-and-logo">
      <p class="app-name">
        <%= link_to 'Task Roller', main_app.root_path %>
      </p>

      <p class="app-logo">
        <%= image_tag 'wheel.svg' %>
      </p>
    </div>
  </div>

  <% if current_user.present? %>
    <div class="page">
      <div class="user-info">
        <%= link_to current_user.name, current_user %>
        (<%= current_user.email %>) |
        <%= link_to 'log out', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>
</header>
