<header class="main-header">
  <div class="page">
    <% if current_user.present? %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.root_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>

      <div class="menu">
        <%= menu_link 'Dashboard', main_app.root_path %>
        <% if can?(:read, Category) %>
          <%= menu_link 'Categories', main_app.categories_path %>
        <% end %>
        <% if can?(:read, User) %>
          <%= menu_link 'Users', main_app.users_path %>
        <% end %>
        <% if can?(:read, IssueType) %>
          <%= menu_link 'App Setup', main_app.issue_types_path %>
        <% end %>
      </div>

      <div class="form-wrapper">
        <%= form_tag search_results_path,
                     method: :get, class: "search-form" do %>
          <%= hidden_field_tag :order, 'updated,desc' %>
          <%= render 'shared/string_filter_field' %>
        <% end %>
      </div>

      <div class="user-name">
        <%= link_to current_user.name_or_email,
                    user_path(current_user),
                    class: 'dropdown-link user-dropdown-link',
                    title: 'User Menu' %>
      </div>

      <%= user_dropdown(current_user) %>
    <% else %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.new_user_session_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>
    <% end %>
  </div>
</header>

<% if content_for? :header %>
  <header class="page-header">
    <div class="page">
      <%= yield :header %>
    </div>
  </header>
<% end %>

<% flash_messages if defined?(flash_messages) %>
