<header class="main-header">
  <div class="page">

    <% if current_user.present? %>
      <div class="menu">
        <%= menu_link 'Dashboard', main_app.root_path %>
        <% if policy(Category).index? %>
          <%= menu_link 'Categories', main_app.categories_path %>
        <% end %>
        <% if policy(User).index? %>
          <%= menu_link 'Users', main_app.users_path %>
        <% end %>
        <% if policy(RollerType).create? %>
          <p class="divider">|</p>
          <%= menu_link 'Issue Types', main_app.roller_types_path %>
        <% end %>
        <% if policy(Project).index? %>
          <%= menu_link 'Projects', main_app.projects_path %>
        <% end %>
      </div>
    <% end %>

    <div class="app-name-and-logo">
      <p class="app-name">
        <%= link_to 'Task Roller', main_app.root_path %>
      </p>

      <p class="app-logo">
        <%= image_tag 'wheel.svg' %>
      </p>
    </div>
  </div>

  <% if current_user.present? %>
    <div class="page">
      <div class="user-info">
        <%= current_user.name_and_email %> |
        <%= link_to 'logout', roller_authentication.logout_path, method: :delete %>
      </div>
    </div>
  <% end %>
</header>
