<header class="main-header">
  <div class="page">
    <% if current_user.present? %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.root_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>

      <div class="form-wrapper">
        <%= form_tag search_results_path,
                     method: :get, class: "search-form" do %>
          <%= hidden_field_tag :order, 'updated,desc' %>
          <%= render 'shared/string_filter_field',
                     placeholder: 'issues & tasks' %>
        <% end %>
      </div>

      <div class="menu">
        <% @project ||= @source if @source && @source.is_a?(Project)  %>
        <% if @project %>
          <% if can?(:create, new_issue(@project)) %>
            <%= menu_link 'Report Issue', new_project_issue_path(@project) %>
          <% end %>
          <% if can?(:create, new_task(@project)) %>
            <%= menu_link 'Plan Task', new_project_task_path(@project) %>
          <% end %>
        <% end %>
      </div>

      <div class="user-name">
        <%= link_to current_user.name_or_email,
                    user_path(current_user),
                    class: 'dropdown-link user-dropdown-link',
                    title: 'User Menu' %>
      </div>

      <%= user_dropdown(current_user) %>
    <% else %>
      <div class="app-name-and-logo">
        <p class="app-name">
          <%= link_to 'Task Roller', main_app.new_user_session_path %>
        </p>

        <p class="app-logo">
          <%= image_tag 'wheel.svg' %>
        </p>
      </div>
    <% end %>
  </div>
</header>

<% if content_for? :header %>
  <header class="page-header">
    <div class="page">
      <%= yield :header %>
    </div>
  </header>
<% end %>

<% flash_messages if defined?(flash_messages) %>
