<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : 'TaskRoller' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'flash_messages', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'radio_buttons', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <%= render 'layouts/header' %>
      <% flash_messages if defined?(flash_messages) %>

      <main class="main-content">
        <div class="page">
          <div class="columns">
            <div class="first-column">
              <%= yield %>
            </div>
            <% if content_for?(:sidebar) %>
              <div class="second-column">
                <%= yield :sidebar %>
              </div>
            <% end %>
          </div>
        </div>
      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
